@import "404.css";
/*
For dark themes
*/
article.fullpage {
  background: url(/themes/tagblog/res/404/blur_white_70.png) center/contain no-repeat;
}
article h1,article h2,article h3,article h4,article p {
  color: white !important;
}
@keyframes fade {
  from {opacity: .5;}
  to {opacity: .2;}
}
