h1 {
  font-size:8em;
  font-weight:700;
  padding:0;
}

article.fullpage {
/*
  background: url(/themes/tagblog/res/404/blur_black_70.png) center/contain no-repeat;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
*/
  text-align: center;
}
section#content img {
  display:none;
  max-width: 100%;
  max-height: 22em;
  margin: 0 auto;
}
article h1,article h2,article h3,article h4,article p {
/*
  color: black !important;
*/
  font-kerning: none;
}
section#content {
/*
  animation: skewed 5s linear infinite alternate;
*/
  animation: flicker 24s linear infinite alternate;
}
.flicker1 {
  animation: flicker 15s linear infinite alternate;
}
.flicker2 {
  animation: flicker 16s linear infinite alternate;
}
.flicker3 {
  animation: flicker 12s linear infinite alternate;
}
.flicker4 {
  animation: flicker 8s linear infinite alternate;
}

/* Violent skews */
/*
@keyframes skewed {
  0%,10%,10.2%,39.9%,40.1%,99.8% {
    transform: skew(0deg, 0deg);
  }
  10.1% {
    transform: scale(.1) skewX(10deg);
  }
  40% {
    transform: rotate(300deg);
  }
  99.9% {
    transform: scale(.1) skewY(-10deg);
  }
}
*/

/* on/off like broken neon light */
@keyframes flicker {
  0%, 44.9%, 45.1%, 61.9%, 62.1%, 99.8% {
    opacity: 1
  }
  45%,62%,99.9% {
    opacity: 0
  }
}
