/* A quote within a quote does not become a nested quote but changes the style of the quote: much smaller text */
blockquote>blockquote {
    padding: 0;
    border-left-width: 0;
    border-left-style: none;
    margin: 0;
    font-size: 85%;
    line-height: 120%;
}
