article p:first-child {
padding:0;
}
.p01-contact > form {
   appearance: none !important;
   -moz-appearance: none !important;
}
.p01-contact > .head {
    max-width: 40em;
}
.p01-contact > .head > .required {
    font-size: 80%;
}
.p01-contact > div {
    max-width: 10em;
    margin:1em 0;
}
.p01-contact .field {
    max-width: 30em;
    font-size:105%;
}
.p01-contact .textarea {
    max-width: 40em;
    margin-top: 2em;
}
.p01-contact .field.inline {
    margin-top: 0.2em;
}
/*
.p01-contact label {
    display: block;
}
*/
/*
.p01-contact .email {
    display: none;
}
*/
.p01-contact label .description{
    float: right;
    font-size: 90%;
}
.p01-contact input:not([type=radio]):not([type=checkbox]),
.p01-contact textarea,
.p01-contact select{
    padding: 0.2em;
    width: 100%;
}
.p01-contact textarea {
    height: 15em;
    font-family: sans-serif;
}
.p01-contact input[type=submit]:not([type=radio]):not([type=checkbox]),
.p01-contact input[type=button]:not([type=radio]):not([type=checkbox]){
    padding: 0.5em;
    border: none;
    font-weight: bold;
    letter-spacing: 0.2em;
}
.p01-contact input[type=submit]:not([type=radio]):not([type=checkbox]):hover,
.p01-contact input[type=button]:not([type=radio]):not([type=checkbox]):hover {
    letter-spacing: 0.4em;
}
.p01-contact .required label::after {
    content: ' *';
    font-weight: bold;
}
.p01-contact input[type=radio],
.p01-contact input[type=checkbox] {
    vertical-align: middle;
}
.p01-contact :not(.inline) .options {
    display: flex;
    padding: .5em;
}
.p01-contact :not(.inline) .options .option {
    margin: 0 1em;
}
.p01-contact .options input {
    display: inline-block;
    margin-right: .5em;
}
.p01-contact .error-msg {
    color: red;
    float:left;
}
input:invalid,
textarea:invalid {
    box-shadow: none;
}

.p01-contact .alert {
    padding: 1em;
    margin-bottom: 2em;
    border: 0.1em solid;
}
.p01-contact .alert.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.p01-contact .alert.failed {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

