/* Reset Styles
---------------------------------------------*/
body, html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, em, font, img, ins, q, s, samp,
small, strike, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,kbd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%; /* This is the base for 'rem' sizes */
    font-family: inherit;
    vertical-align: baseline;
}
/* Exclude these from the above because font family */
tt,source,pre,code {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%; /* This is the base for 'rem' sizes */
    /* stackoverflow.com/a/38781315 */
    font-family: monospace,sans-serif;
    vertical-align: baseline;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
    display: block;
}
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
    cursor: pointer;
}
/* make buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
    width: auto;
    overflow: visible;
}
/* Sharper Thumbnails */
img {
    -ms-interpolation-mode: bicubic;
}
