/* Base16 Black Metal (Dark Funeral)
 * Scheme author: metalelf0 (https://github.com/metalelf0)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #000000;
    --base01: #121212;
    --base02: #222222;
    --base03: #333333;
    --base04: #999999;
    --base05: #c1c1c1;
    --base06: #999999;
    --base07: #c1c1c1;
    --base08: #5f8787;
    --base09: #aaaaaa;
    --base0a: #5f81a5;
    --base0b: #d0dfee;
    --base0c: #aaaaaa;
    --base0d: #888888;
    --base0e: #999999;
    --base0f: #444444;
}