/* Base16 ShadeSmear Dark
 * Scheme author: Kyle Giammarco (http://kyle.giammar.co)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #232323;
    --base01: #1C1C1C;
    --base02: #4E4E4E;
    --base03: #C0C0C0;
    --base04: #E4E4E4;
    --base05: #DBDBDB;
    --base06: #E4E4E4;
    --base07: #1C1C1C;
    --base08: #CC5450;
    --base09: #A64270;
    --base0a: #307878;
    --base0b: #71983B;
    --base0c: #C57D42;
    --base0d: #376388;
    --base0e: #D7AB54;
    --base0f: #6D6D6D;
}