/* Base16 iA Light
 * Scheme author: iA Inc. (modified by aramisgithub)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f6f6f6;
    --base01: #dedede;
    --base02: #bde5f2;
    --base03: #898989;
    --base04: #767676;
    --base05: #181818;
    --base06: #e8e8e8;
    --base07: #f8f8f8;
    --base08: #9c5a02;
    --base09: #c43e18;
    --base0a: #c48218;
    --base0b: #38781c;
    --base0c: #2d6bb1;
    --base0d: #48bac2;
    --base0e: #a94598;
    --base0f: #8b6c37;
}