/* Base16 Chinoiserie
 * Scheme author: Di Wang (https://cs.cmu.edu/~diw3)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #ffffff;
    --base01: #e0e0e0;
    --base02: #d6d6d6;
    --base03: #80766e;
    --base04: #918072;
    --base05: #4a4035;
    --base06: #2f2f35;
    --base07: #131124;
    --base08: #c04851;
    --base09: #fb8b05;
    --base0a: #d6a01d;
    --base0b: #428675;
    --base0c: #2b73af;
    --base0d: #815c94;
    --base0e: #c08eaf;
    --base0f: #945833;
}