/* Base16 Outrun Dark
 * Scheme author: Hugo Delahousse (http://github.com/hugodelahousse/)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #00002A;
    --base01: #20204A;
    --base02: #30305A;
    --base03: #50507A;
    --base04: #B0B0DA;
    --base05: #D0D0FA;
    --base06: #E0E0FF;
    --base07: #F5F5FF;
    --base08: #FF4242;
    --base09: #FC8D28;
    --base0a: #F3E877;
    --base0b: #59F176;
    --base0c: #0EF0F0;
    --base0d: #66B0FF;
    --base0e: #F10596;
    --base0f: #F003EF;
}