/* Base16 Brogrammer
 * Scheme author: Vik Ramanujam (http://github.com/piggyslasher)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1f1f1f;
    --base01: #f81118;
    --base02: #2dc55e;
    --base03: #ecba0f;
    --base04: #2a84d2;
    --base05: #4e5ab7;
    --base06: #1081d6;
    --base07: #d6dbe5;
    --base08: #d6dbe5;
    --base09: #de352e;
    --base0a: #1dd361;
    --base0b: #f3bd09;
    --base0c: #1081d6;
    --base0d: #5350b9;
    --base0e: #0f7ddb;
    --base0f: #ffffff;
}