/* Base16 Tokyo City Terminal Dark
 * Scheme author: Michaël Ball
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #171D23;
    --base01: #1D252C;
    --base02: #28323A;
    --base03: #526270;
    --base04: #B7C5D3;
    --base05: #D8E2EC;
    --base06: #F6F6F8;
    --base07: #FBFBFD;
    --base08: #D95468;
    --base09: #FF9E64;
    --base0a: #EBBF83;
    --base0b: #8BD49C;
    --base0c: #70E1E8;
    --base0d: #539AFC;
    --base0e: #B62D65;
    --base0f: #DD9D82;
}