/* Base16 Darcula
 * Scheme author: jetbrains
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #2b2b2b;
    --base01: #323232;
    --base02: #323232;
    --base03: #606366;
    --base04: #a4a3a3;
    --base05: #a9b7c6;
    --base06: #ffc66d;
    --base07: #ffffff;
    --base08: #4eade5;
    --base09: #689757;
    --base0a: #bbb529;
    --base0b: #6a8759;
    --base0c: #629755;
    --base0d: #9876aa;
    --base0e: #cc7832;
    --base0f: #808080;
}