/* Base16 Purpledream
 * Scheme author: malet
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #100510;
    --base01: #302030;
    --base02: #403040;
    --base03: #605060;
    --base04: #bbb0bb;
    --base05: #ddd0dd;
    --base06: #eee0ee;
    --base07: #fff0ff;
    --base08: #FF1D0D;
    --base09: #CCAE14;
    --base0a: #F000A0;
    --base0b: #14CC64;
    --base0c: #0075B0;
    --base0d: #00A0F0;
    --base0e: #B000D0;
    --base0f: #6A2A3C;
}