/* Base16 Vice Dark
 * Scheme author: Thomas Leon Highbaugh
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #181818;
    --base01: #222222;
    --base02: #323232;
    --base03: #3f3f3f;
    --base04: #666666;
    --base05: #818181;
    --base06: #c6c6c6;
    --base07: #e9e9e9;
    --base08: #ff29a8;
    --base09: #85ffe0;
    --base0a: #f0ffaa;
    --base0b: #0badff;
    --base0c: #8265ff;
    --base0d: #00eaff;
    --base0e: #00f6d9;
    --base0f: #ff3d81;
}e0f: #ff3d81;
}