/* Base16 Gruvbox dark, pale
 * Scheme author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #262626;
    --base01: #3a3a3a;
    --base02: #4e4e4e;
    --base03: #8a8a8a;
    --base04: #949494;
    --base05: #dab997;
    --base06: #d5c4a1;
    --base07: #ebdbb2;
    --base08: #d75f5f;
    --base09: #ff8700;
    --base0a: #ffaf00;
    --base0b: #afaf00;
    --base0c: #85ad85;
    --base0d: #83adad;
    --base0e: #d485ad;
    --base0f: #d65d0e;
}