/* Base16 Material Palenight
 * Scheme author: Nate Peterson
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #292D3E;
    --base01: #444267;
    --base02: #32374D;
    --base03: #676E95;
    --base04: #8796B0;
    --base05: #959DCB;
    --base06: #959DCB;
    --base07: #FFFFFF;
    --base08: #F07178;
    --base09: #F78C6C;
    --base0a: #FFCB6B;
    --base0b: #C3E88D;
    --base0c: #89DDFF;
    --base0d: #82AAFF;
    --base0e: #C792EA;
    --base0f: #FF5370;
}