/* Base16 Ashes
 * Scheme author: Jannik Siebert (https://github.com/janniks)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1C2023;
    --base01: #393F45;
    --base02: #565E65;
    --base03: #747C84;
    --base04: #ADB3BA;
    --base05: #C7CCD1;
    --base06: #DFE2E5;
    --base07: #F3F4F5;
    --base08: #C7AE95;
    --base09: #C7C795;
    --base0a: #AEC795;
    --base0b: #95C7AE;
    --base0c: #95AEC7;
    --base0d: #AE95C7;
    --base0e: #C795AE;
    --base0f: #C79595;
}