/* Base16 Bark on a tree
 * Scheme author: Gabriel Arazas (https://foodogsquared.one)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #2b221f;
    --base01: #412c26;
    --base02: #5c362c;
    --base03: #a45b43;
    --base04: #e1bcb2;
    --base05: #f5ecea;
    --base06: #fefefe;
    --base07: #eb8a65;
    --base08: #d03e68;
    --base09: #df937a;
    --base0a: #afa644;
    --base0b: #85b26e;
    --base0c: #eb914a;
    --base0d: #c67f62;
    --base0e: #8b7ab9;
    --base0f: #7f3F83;
}