/* Base16 Precious Light Warm
 * Scheme author: 4lex4 &lt;4lex49@zoho.com&gt;
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #fff5e5;
    --base01: #ece4d6;
    --base02: #d9d3c8;
    --base03: #7f8080;
    --base04: #5d6065;
    --base05: #4e5359;
    --base06: #4e5359;
    --base07: #4e5359;
    --base08: #b14745;
    --base09: #a25600;
    --base0a: #876500;
    --base0b: #557300;
    --base0c: #0e7767;
    --base0d: #246da5;
    --base0e: #7a50c6;
    --base0f: #a83f92;
}