/* Base16 Atelier Lakeside Light
 * Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #ebf8ff;
    --base01: #c1e4f6;
    --base02: #7ea2b4;
    --base03: #7195a8;
    --base04: #5a7b8c;
    --base05: #516d7b;
    --base06: #1f292e;
    --base07: #161b1d;
    --base08: #d22d72;
    --base09: #935c25;
    --base0a: #8a8a0f;
    --base0b: #568c3b;
    --base0c: #2d8f6f;
    --base0d: #257fad;
    --base0e: #6b6bb8;
    --base0f: #b72dd2;
}