/* Base16 Windows High Contrast
 * Scheme author: Fergus Collins (https://github.com/C-Fergus)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #000000;
    --base01: #1C1C1C;
    --base02: #383838;
    --base03: #545454;
    --base04: #a2a2a2;
    --base05: #c0c0c0;
    --base06: #dedede;
    --base07: #fcfcfc;
    --base08: #fc5454;
    --base09: #808000;
    --base0a: #fcfc54;
    --base0b: #54fc54;
    --base0c: #54fcfc;
    --base0d: #5454fc;
    --base0e: #fc54fc;
    --base0f: #008000;
}