/* Base16 Vice Alt
 * Scheme author: Thomas Leon Highbaugh
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1c1c1c;
    --base01: #282828;
    --base02: #2c2c2c;
    --base03: #323232;
    --base04: #3c3c3c;
    --base05: #555555;
    --base06: #b6b6b6;
    --base07: #d1d1d1;
    --base08: #ff3d81;
    --base09: #F67544;
    --base0a: #ffff73;
    --base0b: #44ffdd;
    --base0c: #00caff;
    --base0d: #2fb1d4;
    --base0e: #8265ff;
    --base0f: #F83D80;
}