/* Base16 Embers
 * Scheme author: Jannik Siebert (https://github.com/janniks)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #16130F;
    --base01: #2C2620;
    --base02: #433B32;
    --base03: #5A5047;
    --base04: #8A8075;
    --base05: #A39A90;
    --base06: #BEB6AE;
    --base07: #DBD6D1;
    --base08: #826D57;
    --base09: #828257;
    --base0a: #6D8257;
    --base0b: #57826D;
    --base0c: #576D82;
    --base0d: #6D5782;
    --base0e: #82576D;
    --base0f: #825757;
}