/* Base16 Atelier Plateau Light
 * Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f4ecec;
    --base01: #e7dfdf;
    --base02: #8a8585;
    --base03: #7e7777;
    --base04: #655d5d;
    --base05: #585050;
    --base06: #292424;
    --base07: #1b1818;
    --base08: #ca4949;
    --base09: #b45a3c;
    --base0a: #a06e3b;
    --base0b: #4b8b8b;
    --base0c: #5485b6;
    --base0d: #7272ca;
    --base0e: #8464c4;
    --base0f: #bd5187;
}