/* Base16 Gruvbox Material Dark, Medium
 * Scheme author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #292828;
    --base01: #32302f;
    --base02: #504945;
    --base03: #665c54;
    --base04: #bdae93;
    --base05: #ddc7a1;
    --base06: #ebdbb2;
    --base07: #fbf1c7;
    --base08: #ea6962;
    --base09: #e78a4e;
    --base0a: #d8a657;
    --base0b: #a9b665;
    --base0c: #89b482;
    --base0d: #7daea3;
    --base0e: #d3869b;
    --base0f: #bd6f3e;
}