/* Base16 Espresso
 * Scheme author: Unknown. Maintained by Alex Mirrington (https://github.com/alexmirrington)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #2d2d2d;
    --base01: #393939;
    --base02: #515151;
    --base03: #777777;
    --base04: #b4b7b4;
    --base05: #cccccc;
    --base06: #e0e0e0;
    --base07: #ffffff;
    --base08: #d25252;
    --base09: #f9a959;
    --base0a: #ffc66d;
    --base0b: #a5c261;
    --base0c: #bed6ff;
    --base0d: #6c99bb;
    --base0e: #d197d9;
    --base0f: #f97394;
}