/* Base16 Spaceduck
 * Scheme author: Guillermo Rodriguez (https://github.com/pineapplegiant), packaged by Gabriel Fontes (https://github.com/Misterio77)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #16172d;
    --base01: #1b1c36;
    --base02: #30365F;
    --base03: #686f9a;
    --base04: #818596;
    --base05: #ecf0c1;
    --base06: #c1c3cc;
    --base07: #ffffff;
    --base08: #e33400;
    --base09: #e39400;
    --base0a: #f2ce00;
    --base0b: #5ccc96;
    --base0c: #00a3cc;
    --base0d: #7a5ccc;
    --base0e: #b3a1e6;
    --base0f: #ce6f8f;
}