/* Base16 Horizon Terminal Light
 * Scheme author: Michaël Ball (http://github.com/michael-ball/)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #FDF0ED;
    --base01: #FADAD1;
    --base02: #F9CBBE;
    --base03: #BDB3B1;
    --base04: #948C8A;
    --base05: #403C3D;
    --base06: #302C2D;
    --base07: #201C1D;
    --base08: #E95678;
    --base09: #F9CEC3;
    --base0a: #FADAD1;
    --base0b: #29D398;
    --base0c: #59E1E3;
    --base0d: #26BBD9;
    --base0e: #EE64AC;
    --base0f: #F9CBBE;
}