/* Base16 nono-dark
 * Scheme author: elmotec
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1b3340;
    --base01: #384f5d;
    --base02: #546a78;
    --base03: #6f8493;
    --base04: #8b9fae;
    --base05: #a6b9c9;
    --base06: #d2d4e4;
    --base07: #ddeeff;
    --base08: #b36b6b;
    --base09: #d4a75e;
    --base0a: #9e9e2b;
    --base0b: #77bf77;
    --base0c: #83c0c2;
    --base0d: #3876d9;
    --base0e: #5b95c2;
    --base0f: #4b7a4b;
}