/* Base16 Brewer
 * Scheme author: Timothée Poisot (http://github.com/tpoisot)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #0c0d0e;
    --base01: #2e2f30;
    --base02: #515253;
    --base03: #737475;
    --base04: #959697;
    --base05: #b7b8b9;
    --base06: #dadbdc;
    --base07: #fcfdfe;
    --base08: #e31a1c;
    --base09: #e6550d;
    --base0a: #dca060;
    --base0b: #31a354;
    --base0c: #80b1d3;
    --base0d: #3182bd;
    --base0e: #756bb1;
    --base0f: #b15928;
}