/* Base16 Evenok Dark
 * Scheme author: Mekeor Melire
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #000000;
    --base01: #202020;
    --base02: #303030;
    --base03: #505050;
    --base04: #b0b0b0;
    --base05: #d0d0d0;
    --base06: #e0e0e0;
    --base07: #ffffff;
    --base08: #f5708a;
    --base09: #ee8122;
    --base0a: #b8a300;
    --base0b: #54bc5c;
    --base0c: #00bab3;
    --base0d: #00aff2;
    --base0e: #9095ff;
    --base0f: #d47ada;
}