/* Base16 Unified Platform
 * Scheme author: tmiller@mitre.org
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #000000;
    --base01: #262627;
    --base02: #4c4d4e;
    --base03: #727374;
    --base04: #98999b;
    --base05: #dad9d7;
    --base06: #edeceb;
    --base07: #ffffff;
    --base08: #802629;
    --base09: #ad9266;
    --base0a: #997940;
    --base0b: #006b5b;
    --base0c: #7b98ac;
    --base0d: #185a7d;
    --base0e: #894943;
    --base0f: #ffffff;
}