/* Base16 Colors
 * Scheme author: mrmrs (http://clrs.cc)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #111111;
    --base01: #333333;
    --base02: #555555;
    --base03: #777777;
    --base04: #999999;
    --base05: #bbbbbb;
    --base06: #dddddd;
    --base07: #ffffff;
    --base08: #ff4136;
    --base09: #ff851b;
    --base0a: #ffdc00;
    --base0b: #2ecc40;
    --base0c: #7fdbff;
    --base0d: #0074d9;
    --base0e: #b10dc9;
    --base0f: #85144b;
}