/* Base16 Solar Flare Light
 * Scheme author: Chuck Harmston (https://chuck.harmston.ch)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #F5F7FA;
    --base01: #E8E9ED;
    --base02: #A6AFB8;
    --base03: #85939E;
    --base04: #667581;
    --base05: #586875;
    --base06: #222E38;
    --base07: #18262F;
    --base08: #EF5253;
    --base09: #E66B2B;
    --base0a: #E4B51C;
    --base0b: #7CC844;
    --base0c: #52CBB0;
    --base0d: #33B5E1;
    --base0e: #A363D5;
    --base0f: #D73C9A;
}