/* Base16 City lights
 * Scheme author: Yummygum (https://yummygum.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #171D22;
    --base01: #1D252C;
    --base02: #28313a;
    --base03: #41505e;
    --base04: #56697a;
    --base05: #728ca0;
    --base06: #a0b3c5;
    --base07: #b7c5d3;
    --base08: #008b94;
    --base09: #e27e8d;
    --base0a: #8BD49C;
    --base0b: #539AFC;
    --base0c: #d95468;
    --base0d: #70e1e8;
    --base0e: #b62d65;
    --base0f: #EBBF83;
}