/* Base16 caroline
 * Scheme author: ed (https://codeberg.org/ed)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1c1213;
    --base01: #3a2425;
    --base02: #563837;
    --base03: #6d4745;
    --base04: #8b5d57;
    --base05: #a87569;
    --base06: #c58d7b;
    --base07: #e3a68c;
    --base08: #c24f57;
    --base09: #a63650;
    --base0a: #f28171;
    --base0b: #806c61;
    --base0c: #6b6566;
    --base0d: #684c59;
    --base0e: #a63650;
    --base0f: #893f45;
}