/* Base16 Zenbones
 * Scheme author: mcchrish
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #191919;
    --base01: #DE6E7C;
    --base02: #819B69;
    --base03: #B77E64;
    --base04: #6099C0;
    --base05: #B279A7;
    --base06: #66A5AD;
    --base07: #BBBBBB;
    --base08: #3D3839;
    --base09: #E8838F;
    --base0a: #8BAE68;
    --base0b: #D68C67;
    --base0c: #61ABDA;
    --base0d: #CF86C1;
    --base0e: #65B8C1;
    --base0f: #8E8E8E;
}