/* Base16 Tokyo Night Light
 * Scheme author: Michaël Ball
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #D5D6DB;
    --base01: #CBCCD1;
    --base02: #DFE0E5;
    --base03: #9699A3;
    --base04: #4C505E;
    --base05: #343B59;
    --base06: #1A1B26;
    --base07: #1A1B26;
    --base08: #343B58;
    --base09: #965027;
    --base0a: #166775;
    --base0b: #485E30;
    --base0c: #3E6968;
    --base0d: #34548A;
    --base0e: #5A4A78;
    --base0f: #8C4351;
}