/* Base16 Isotope
 * Scheme author: Jan T. Sott
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #000000;
    --base01: #404040;
    --base02: #606060;
    --base03: #808080;
    --base04: #c0c0c0;
    --base05: #d0d0d0;
    --base06: #e0e0e0;
    --base07: #ffffff;
    --base08: #ff0000;
    --base09: #ff9900;
    --base0a: #ff0099;
    --base0b: #33ff00;
    --base0c: #00ffff;
    --base0d: #0066ff;
    --base0e: #cc00ff;
    --base0f: #3300ff;
}