/* Base16 Shapeshifter
 * Scheme author: Tyler Benziger (http://tybenz.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f9f9f9;
    --base01: #e0e0e0;
    --base02: #ababab;
    --base03: #555555;
    --base04: #343434;
    --base05: #102015;
    --base06: #040404;
    --base07: #000000;
    --base08: #e92f2f;
    --base09: #e09448;
    --base0a: #dddd13;
    --base0b: #0ed839;
    --base0c: #23edda;
    --base0d: #3b48e3;
    --base0e: #f996e2;
    --base0f: #69542d;
}