/* Base16 eris
 * Scheme author: ed (https://codeberg.org/ed)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #0a0920;
    --base01: #13133a;
    --base02: #23255a;
    --base03: #333773;
    --base04: #4a5293;
    --base05: #606bac;
    --base06: #7986c5;
    --base07: #9aaae5;
    --base08: #f768a3;
    --base09: #f768a3;
    --base0a: #faaea2;
    --base0b: #faaea2;
    --base0c: #258fc4;
    --base0d: #258fc4;
    --base0e: #f768a3;
    --base0f: #f768a3;
}