/* Base16 Pasque
 * Scheme author: Gabriel Fontes (https://github.com/Misterio77)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #271C3A;
    --base01: #100323;
    --base02: #3E2D5C;
    --base03: #5D5766;
    --base04: #BEBCBF;
    --base05: #DEDCDF;
    --base06: #EDEAEF;
    --base07: #BBAADD;
    --base08: #A92258;
    --base09: #918889;
    --base0a: #804ead;
    --base0b: #C6914B;
    --base0c: #7263AA;
    --base0d: #8E7DC6;
    --base0e: #953B9D;
    --base0f: #59325C;
}