/* Base16 PaperColor Dark
 * Scheme author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1c1c1c;
    --base01: #af005f;
    --base02: #5faf00;
    --base03: #d7af5f;
    --base04: #5fafd7;
    --base05: #808080;
    --base06: #d7875f;
    --base07: #d0d0d0;
    --base08: #585858;
    --base09: #5faf5f;
    --base0a: #afd700;
    --base0b: #af87d7;
    --base0c: #ffaf00;
    --base0d: #ff5faf;
    --base0e: #00afaf;
    --base0f: #5f8787;
}