/* Base16 Oxocarbon Light
 * Scheme author: shaunsingh/IBM
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f2f4f8;
    --base01: #dde1e6;
    --base02: #525252;
    --base03: #161616;
    --base04: #262626;
    --base05: #393939;
    --base06: #525252;
    --base07: #08bdba;
    --base08: #ff7eb6;
    --base09: #ee5396;
    --base0a: #FF6F00;
    --base0b: #0f62fe;
    --base0c: #673AB7;
    --base0d: #42be65;
    --base0e: #be95ff;
    --base0f: #37474F;
}