/* Base16 Jardo Brighter
 * Scheme author: Jared Norman (https://jardo.dev)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #000000;
    --base01: #323330;
    --base02: #50514d;
    --base03: #7f8079;
    --base04: #e0e1dc;
    --base05: #f0f1ea;
    --base06: #f7f0f1;
    --base07: #fdfff7;
    --base08: #ff9ea3;
    --base09: #ffbf9c;
    --base0a: #ffe492;
    --base0b: #e8ffaa;
    --base0c: #adffdc;
    --base0d: #b1e4fc;
    --base0e: #f8d7ff;
    --base0f: #f1cbb3;
}