/* Base16 Darktooth
 * Scheme author: Jason Milkins (https://github.com/jasonm23)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1D2021;
    --base01: #32302F;
    --base02: #504945;
    --base03: #665C54;
    --base04: #928374;
    --base05: #A89984;
    --base06: #D5C4A1;
    --base07: #FDF4C1;
    --base08: #FB543F;
    --base09: #FE8625;
    --base0a: #FAC03B;
    --base0b: #95C085;
    --base0c: #8BA59B;
    --base0d: #0D6678;
    --base0e: #8F4673;
    --base0f: #A87322;
}