/* Base16 Tokyo City Light
 * Scheme author: Michaël Ball
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #FBFBFD;
    --base01: #F6F6F8;
    --base02: #EDEFF6;
    --base03: #9699A3;
    --base04: #4c505e;
    --base05: #343B59;
    --base06: #1D252C;
    --base07: #171D23;
    --base08: #8C4351;
    --base09: #965027;
    --base0a: #4C505E;
    --base0b: #485E30;
    --base0c: #4C505E;
    --base0d: #34548a;
    --base0e: #5A4A78;
    --base0f: #5A4A78;
}