/* Base16 Rosé Pine
 * Scheme author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #191724;
    --base01: #1f1d2e;
    --base02: #26233a;
    --base03: #6e6a86;
    --base04: #908caa;
    --base05: #e0def4;
    --base06: #e0def4;
    --base07: #524f67;
    --base08: #eb6f92;
    --base09: #f6c177;
    --base0a: #ebbcba;
    --base0b: #31748f;
    --base0c: #9ccfd8;
    --base0d: #c4a7e7;
    --base0e: #f6c177;
    --base0f: #524f67;
}