/* Base16 Albino bark on a tree
 * Scheme author: Gabriel Arazas (https://foodogsquared.one)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f0f0f0;
    --base01: #e1e3e2;
    --base02: #dacec7;
    --base03: #9d5c4c;
    --base04: #54352c;
    --base05: #392c26;
    --base06: #2b220f;
    --base07: #cb6d48;
    --base08: #b52b52;
    --base09: #d56f17;
    --base0a: #b0a52e;
    --base0b: #5c963e;
    --base0c: #e46403;
    --base0d: #954c2f;
    --base0e: #6751a5;
    --base0f: #55195a;
}