/* Base16 Classic Light
 * Scheme author: Jason Heeris (http://heeris.id.au)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #F5F5F5;
    --base01: #E0E0E0;
    --base02: #D0D0D0;
    --base03: #B0B0B0;
    --base04: #505050;
    --base05: #303030;
    --base06: #202020;
    --base07: #151515;
    --base08: #AC4142;
    --base09: #D28445;
    --base0a: #F4BF75;
    --base0b: #90A959;
    --base0c: #75B5AA;
    --base0d: #6A9FB5;
    --base0e: #AA759F;
    --base0f: #8F5536;
}