/* Base16 Nova
 * Scheme author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #3C4C55;
    --base01: #556873;
    --base02: #6A7D89;
    --base03: #899BA6;
    --base04: #899BA6;
    --base05: #C5D4DD;
    --base06: #899BA6;
    --base07: #556873;
    --base08: #83AFE5;
    --base09: #7FC1CA;
    --base0a: #A8CE93;
    --base0b: #7FC1CA;
    --base0c: #F2C38F;
    --base0d: #83AFE5;
    --base0e: #9A93E1;
    --base0f: #F2C38F;
}