/* Base16 Tokyo Night Terminal Dark
 * Scheme author: Michaël Ball
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #16161E;
    --base01: #1A1B26;
    --base02: #2F3549;
    --base03: #444B6A;
    --base04: #787C99;
    --base05: #787C99;
    --base06: #CBCCD1;
    --base07: #D5D6DB;
    --base08: #F7768E;
    --base09: #FF9E64;
    --base0a: #E0AF68;
    --base0b: #41A6B5;
    --base0c: #7DCFFF;
    --base0d: #7AA2F7;
    --base0e: #BB9AF7;
    --base0f: #D18616;
}