/* Base16 Tucson
 * Scheme author: Kopsis
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #141210;
    --base01: #201e1b;
    --base02: #47443f;
    --base03: #4b4942;
    --base04: #908061;
    --base05: #a99670;
    --base06: #c3b291;
    --base07: #e6dbc4;
    --base08: #81613e;
    --base09: #ee9b1b;
    --base0a: #e2cd3a;
    --base0b: #8bb365;
    --base0c: #69715b;
    --base0d: #7bb198;
    --base0e: #a9405d;
    --base0f: #793efd;
}