/* Base16 Rosé Pine Dawn
 * Scheme author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #faf4ed;
    --base01: #fffaf3;
    --base02: #f2e9de;
    --base03: #9893a5;
    --base04: #797593;
    --base05: #575279;
    --base06: #575279;
    --base07: #cecacd;
    --base08: #b4637a;
    --base09: #ea9d34;
    --base0a: #d7827e;
    --base0b: #286983;
    --base0c: #56949f;
    --base0d: #907aa9;
    --base0e: #ea9d34;
    --base0f: #cecacd;
}