/* Base16 Twilight
 * Scheme author: David Hart (https://github.com/hartbit)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1e1e1e;
    --base01: #323537;
    --base02: #464b50;
    --base03: #5f5a60;
    --base04: #838184;
    --base05: #a7a7a7;
    --base06: #c3c3c3;
    --base07: #ffffff;
    --base08: #cf6a4c;
    --base09: #cda869;
    --base0a: #f9ee98;
    --base0b: #8f9d6a;
    --base0c: #afc4db;
    --base0d: #7587a6;
    --base0e: #9b859d;
    --base0f: #9b703f;
}