/* Base16 Gruvbox Material Light, Medium
 * Scheme author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #fbf1c7;
    --base01: #f2e5bc;
    --base02: #d5c4a1;
    --base03: #bdae93;
    --base04: #665c54;
    --base05: #654735;
    --base06: #3c3836;
    --base07: #282828;
    --base08: #c14a4a;
    --base09: #c35e0a;
    --base0a: #b47109;
    --base0b: #6c782e;
    --base0c: #4c7a5d;
    --base0d: #45707a;
    --base0e: #945e80;
    --base0f: #e78a4e;
}