/* Base16 Da One Black
 * Scheme author: NNB (https://github.com/NNBnh)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #000000;
    --base01: #282828;
    --base02: #585858;
    --base03: #888888;
    --base04: #c8c8c8;
    --base05: #ffffff;
    --base06: #ffffff;
    --base07: #ffffff;
    --base08: #fa7883;
    --base09: #ffc387;
    --base0a: #ff9470;
    --base0b: #98c379;
    --base0c: #8af5ff;
    --base0d: #6bb8ff;
    --base0e: #e799ff;
    --base0f: #b3684f;
}