/* Base16 Chinoiserie Midnight
 * Scheme author: Di Wang (https://cs.cmu.edu/~diw3)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1d1d1d;
    --base01: #282828;
    --base02: #373737;
    --base03: #918072;
    --base04: #bdaead;
    --base05: #c4cbcf;
    --base06: #eee7f2;
    --base07: #fffef9;
    --base08: #ed5a56;
    --base09: #fc8c23;
    --base0a: #fbb957;
    --base0b: #aeb831;
    --base0c: #88b68d;
    --base0d: #81a2a2;
    --base0e: #cf8997;
    --base0f: #cd6227;
}