/* Base16 lime
 * Scheme author: limelier
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1a1a2f;
    --base01: #202030;
    --base02: #2a2a3f;
    --base03: #313140;
    --base04: #515155;
    --base05: #818175;
    --base06: #fff2d1;
    --base07: #fff8e1;
    --base08: #ff662a;
    --base09: #ff773a;
    --base0a: #ffd15e;
    --base0b: #8cd97c;
    --base0c: #4cad83;
    --base0d: #2b926f;
    --base0e: #1b825f;
    --base0f: #b4d97c;
}