/* Base16 Unikitty Reversible
 * Scheme author: Josh W Lewis (@joshwlewis)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #2e2a31;
    --base01: #4b484e;
    --base02: #69666b;
    --base03: #878589;
    --base04: #a5a3a6;
    --base05: #c3c2c4;
    --base06: #e1e0e1;
    --base07: #ffffff;
    --base08: #d8137f;
    --base09: #d65407;
    --base0a: #dc8a0e;
    --base0b: #17ad98;
    --base0c: #149bda;
    --base0d: #7864fa;
    --base0e: #b33ce8;
    --base0f: #d41acd;
}