/* Base16 Zenburn
 * Scheme author: elnawe
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #383838;
    --base01: #404040;
    --base02: #606060;
    --base03: #6f6f6f;
    --base04: #808080;
    --base05: #dcdccc;
    --base06: #c0c0c0;
    --base07: #ffffff;
    --base08: #dca3a3;
    --base09: #dfaf8f;
    --base0a: #e0cf9f;
    --base0b: #5f7f5f;
    --base0c: #93e0e3;
    --base0d: #7cb8bb;
    --base0e: #dc8cc3;
    --base0f: #000000;
}