/* Base16 Terracotta Dark
 * Scheme author: Alexander Rossell Hayes (alexander@rossellhayes.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #241d1a;
    --base01: #362b27;
    --base02: #473933;
    --base03: #594740;
    --base04: #a78e84;
    --base05: #b8a59d;
    --base06: #cabbb5;
    --base07: #dcd2ce;
    --base08: #e78c82;
    --base09: #f59c7a;
    --base0a: #f7ba6e;
    --base0b: #abbb7f;
    --base0c: #b5b1d0;
    --base0d: #a195b4;
    --base0e: #ca95a3;
    --base0f: #e5a38c;
}