/* Base16 Hopscotch
 * Scheme author: Jan T. Sott
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #322931;
    --base01: #433b42;
    --base02: #5c545b;
    --base03: #797379;
    --base04: #989498;
    --base05: #b9b5b8;
    --base06: #d5d3d5;
    --base07: #ffffff;
    --base08: #dd464c;
    --base09: #fd8b19;
    --base0a: #fdcc59;
    --base0b: #8fc13e;
    --base0c: #149b93;
    --base0d: #1290bf;
    --base0e: #c85e7c;
    --base0f: #b33508;
}