/* Base16 Gruvbox Material Light, Hard
 * Scheme author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f9f5d7;
    --base01: #fbf1c7;
    --base02: #e0cfa9;
    --base03: #a89984;
    --base04: #c9b99a;
    --base05: #654735;
    --base06: #3c3836;
    --base07: #282828;
    --base08: #c14a4a;
    --base09: #c35e0a;
    --base0a: #b47109;
    --base0b: #6c782e;
    --base0c: #4c7a5d;
    --base0d: #45707a;
    --base0e: #945e80;
    --base0f: #e78a4e;
}