/* Base16 Summerfruit Dark
 * Scheme author: Christopher Corley (http://christop.club/)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #151515;
    --base01: #202020;
    --base02: #303030;
    --base03: #505050;
    --base04: #B0B0B0;
    --base05: #D0D0D0;
    --base06: #E0E0E0;
    --base07: #FFFFFF;
    --base08: #FF0086;
    --base09: #FD8900;
    --base0a: #ABA800;
    --base0b: #00C918;
    --base0c: #1FAAAA;
    --base0d: #3777E6;
    --base0e: #AD00A1;
    --base0f: #CC6633;
}