/* Base16 Hardcore
 * Scheme author: Chris Caller
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #212121;
    --base01: #303030;
    --base02: #353535;
    --base03: #4A4A4A;
    --base04: #707070;
    --base05: #cdcdcd;
    --base06: #e5e5e5;
    --base07: #ffffff;
    --base08: #f92672;
    --base09: #fd971f;
    --base0a: #e6db74;
    --base0b: #a6e22e;
    --base0c: #708387;
    --base0d: #66d9ef;
    --base0e: #9e6ffe;
    --base0f: #e8b882;
}