/* Base16 Horizon Dark
 * Scheme author: Michaël Ball (http://github.com/michael-ball/)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1C1E26;
    --base01: #232530;
    --base02: #2E303E;
    --base03: #6F6F70;
    --base04: #9DA0A2;
    --base05: #CBCED0;
    --base06: #DCDFE4;
    --base07: #E3E6EE;
    --base08: #E93C58;
    --base09: #E58D7D;
    --base0a: #EFB993;
    --base0b: #EFAF8E;
    --base0c: #24A8B4;
    --base0d: #DF5273;
    --base0e: #B072D1;
    --base0f: #E4A382;
}