/* Base16 Gotham
 * Scheme author: Andrea Leopardi (arranged by Brett Jones)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #0c1014;
    --base01: #11151c;
    --base02: #091f2e;
    --base03: #0a3749;
    --base04: #245361;
    --base05: #599cab;
    --base06: #99d1ce;
    --base07: #d3ebe9;
    --base08: #c23127;
    --base09: #d26937;
    --base0a: #edb443;
    --base0b: #33859E;
    --base0c: #2aa889;
    --base0d: #195466;
    --base0e: #888ca6;
    --base0f: #4e5166;
}