/* Base16 Brush Trees Dark
 * Scheme author: Abraham White &lt;abelincoln.white@gmail.com&gt;
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #485867;
    --base01: #5A6D7A;
    --base02: #6D828E;
    --base03: #8299A1;
    --base04: #98AFB5;
    --base05: #B0C5C8;
    --base06: #C9DBDC;
    --base07: #E3EFEF;
    --base08: #b38686;
    --base09: #d8bba2;
    --base0a: #aab386;
    --base0b: #87b386;
    --base0c: #86b3b3;
    --base0d: #868cb3;
    --base0e: #b386b2;
    --base0f: #b39f9f;
}