/* Base16 Gruvbox light, soft
 * Scheme author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f2e5bc;
    --base01: #ebdbb2;
    --base02: #d5c4a1;
    --base03: #bdae93;
    --base04: #665c54;
    --base05: #504945;
    --base06: #3c3836;
    --base07: #282828;
    --base08: #9d0006;
    --base09: #af3a03;
    --base0a: #b57614;
    --base0b: #79740e;
    --base0c: #427b58;
    --base0d: #076678;
    --base0e: #8f3f71;
    --base0f: #d65d0e;
}