/* Base16 Mountain
 * Scheme author: gnsfujiwara (https://github.com/gnsfujiwara)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #0f0f0f;
    --base01: #191919;
    --base02: #262626;
    --base03: #4c4c4c;
    --base04: #ac8a8c;
    --base05: #cacaca;
    --base06: #e7e7e7;
    --base07: #f0f0f0;
    --base08: #ac8a8c;
    --base09: #ceb188;
    --base0a: #aca98a;
    --base0b: #8aac8b;
    --base0c: #8aabac;
    --base0d: #8f8aac;
    --base0e: #ac8aac;
    --base0f: #ac8a8c;
}