/* Base16 Kanagawa
 * Scheme author: Tommaso Laurenzi (https://github.com/rebelot)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1F1F28;
    --base01: #16161D;
    --base02: #223249;
    --base03: #54546D;
    --base04: #727169;
    --base05: #DCD7BA;
    --base06: #C8C093;
    --base07: #717C7C;
    --base08: #C34043;
    --base09: #FFA066;
    --base0a: #C0A36E;
    --base0b: #76946A;
    --base0c: #6A9589;
    --base0d: #7E9CD8;
    --base0e: #957FB8;
    --base0f: #D27E99;
}