/* Base16 Marrakesh
 * Scheme author: Alexandre Gavioli (http://github.com/Alexx2/)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #201602;
    --base01: #302e00;
    --base02: #5f5b17;
    --base03: #6c6823;
    --base04: #86813b;
    --base05: #948e48;
    --base06: #ccc37a;
    --base07: #faf0a5;
    --base08: #c35359;
    --base09: #b36144;
    --base0a: #a88339;
    --base0b: #18974e;
    --base0c: #75a738;
    --base0d: #477ca1;
    --base0e: #8868b3;
    --base0f: #b3588e;
}