/* Base16 Windows 95 Light
 * Scheme author: Fergus Collins (https://github.com/C-Fergus)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #fcfcfc;
    --base01: #e0e0e0;
    --base02: #c4c4c4;
    --base03: #a8a8a8;
    --base04: #7e7e7e;
    --base05: #545454;
    --base06: #2a2a2a;
    --base07: #000000;
    --base08: #a80000;
    --base09: #fcfc54;
    --base0a: #a85400;
    --base0b: #00a800;
    --base0c: #00a8a8;
    --base0d: #0000a8;
    --base0e: #a800a8;
    --base0f: #54fc54;
}