/* Base16 Atelier Heath Light
 * Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f7f3f7;
    --base01: #d8cad8;
    --base02: #ab9bab;
    --base03: #9e8f9e;
    --base04: #776977;
    --base05: #695d69;
    --base06: #292329;
    --base07: #1b181b;
    --base08: #ca402b;
    --base09: #a65926;
    --base0a: #bb8a35;
    --base0b: #918b3b;
    --base0c: #159393;
    --base0d: #516aec;
    --base0e: #7b59c0;
    --base0f: #cc33cc;
}