/* Base16 Oxocarbon Dark
 * Scheme author: shaunsingh/IBM
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #161616;
    --base01: #262626;
    --base02: #393939;
    --base03: #525252;
    --base04: #dde1e6;
    --base05: #f2f4f8;
    --base06: #ffffff;
    --base07: #08bdba;
    --base08: #3ddbd9;
    --base09: #78a9ff;
    --base0a: #ee5396;
    --base0b: #33b1ff;
    --base0c: #ff7eb6;
    --base0d: #42be65;
    --base0e: #be95ff;
    --base0f: #82cfff;
}