/* Base16 Moonlight
 * Scheme author: Jeremy Swinarton (https://swinarton.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #212337;
    --base01: #403c64;
    --base02: #596399;
    --base03: #748cd6;
    --base04: #a1abe0;
    --base05: #a3ace1;
    --base06: #b4a4f4;
    --base07: #ef43fa;
    --base08: #ff5370;
    --base09: #f67f81;
    --base0a: #ffc777;
    --base0b: #2df4c0;
    --base0c: #04d1f9;
    --base0d: #40ffff;
    --base0e: #b994f1;
    --base0f: #ecb2f0;
}