/* Base16 Bright
 * Scheme author: Chris Kempson (http://chriskempson.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #000000;
    --base01: #303030;
    --base02: #505050;
    --base03: #b0b0b0;
    --base04: #d0d0d0;
    --base05: #e0e0e0;
    --base06: #f5f5f5;
    --base07: #ffffff;
    --base08: #fb0120;
    --base09: #fc6d24;
    --base0a: #fda331;
    --base0b: #a1c659;
    --base0c: #76c7b7;
    --base0d: #6fb3d2;
    --base0e: #d381c3;
    --base0f: #be643c;
}