/* Base16 Materia
 * Scheme author: Defman21
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #263238;
    --base01: #2C393F;
    --base02: #37474F;
    --base03: #707880;
    --base04: #C9CCD3;
    --base05: #CDD3DE;
    --base06: #D5DBE5;
    --base07: #FFFFFF;
    --base08: #EC5F67;
    --base09: #EA9560;
    --base0a: #FFCC00;
    --base0b: #8BD649;
    --base0c: #80CBC4;
    --base0d: #89DDFF;
    --base0e: #82AAFF;
    --base0f: #EC5F67;
}