/* Base16 Tomorrow Night Eighties
 * Scheme author: Chris Kempson (http://chriskempson.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #2d2d2d;
    --base01: #393939;
    --base02: #515151;
    --base03: #999999;
    --base04: #b4b7b4;
    --base05: #cccccc;
    --base06: #e0e0e0;
    --base07: #ffffff;
    --base08: #f2777a;
    --base09: #f99157;
    --base0a: #ffcc66;
    --base0b: #99cc99;
    --base0c: #66cccc;
    --base0d: #6699cc;
    --base0e: #cc99cc;
    --base0f: #a3685a;
}