/* Base16 Framer
 * Scheme author: Framer (Maintained by Jesse Hoyos)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #181818;
    --base01: #151515;
    --base02: #464646;
    --base03: #747474;
    --base04: #B9B9B9;
    --base05: #D0D0D0;
    --base06: #E8E8E8;
    --base07: #EEEEEE;
    --base08: #FD886B;
    --base09: #FC4769;
    --base0a: #FECB6E;
    --base0b: #32CCDC;
    --base0c: #ACDDFD;
    --base0d: #20BCFC;
    --base0e: #BA8CFC;
    --base0f: #B15F4A;
}