/* Base16 Apprentice
 * Scheme author: romainl
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #262626;
    --base01: #AF5F5F;
    --base02: #5F875F;
    --base03: #87875F;
    --base04: #5F87AF;
    --base05: #5F5F87;
    --base06: #5F8787;
    --base07: #6C6C6C;
    --base08: #444444;
    --base09: #FF8700;
    --base0a: #87AF87;
    --base0b: #FFFFAF;
    --base0c: #87AFD7;
    --base0d: #8787AF;
    --base0e: #5FAFAF;
    --base0f: #BCBCBC;
}