/* Base16 Sandcastle
 * Scheme author: George Essig (https://github.com/gessig)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #282c34;
    --base01: #2c323b;
    --base02: #3e4451;
    --base03: #665c54;
    --base04: #928374;
    --base05: #a89984;
    --base06: #d5c4a1;
    --base07: #fdf4c1;
    --base08: #83a598;
    --base09: #a07e3b;
    --base0a: #a07e3b;
    --base0b: #528b8b;
    --base0c: #83a598;
    --base0d: #83a598;
    --base0e: #d75f5f;
    --base0f: #a87322;
}