/* Base16 tarot
 * Scheme author: ed (https://codeberg.org/ed)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #0e091d;
    --base01: #2a153c;
    --base02: #4b2054;
    --base03: #74316b;
    --base04: #8c406f;
    --base05: #aa556f;
    --base06: #c4686d;
    --base07: #dc8f7c;
    --base08: #c53253;
    --base09: #ea4d60;
    --base0a: #ff6565;
    --base0b: #a68e5a;
    --base0c: #8c9785;
    --base0d: #6e6080;
    --base0e: #a45782;
    --base0f: #984d51;
}