/* Base16 Jellybeans
 * Scheme author: Max van Deurzen (https://github.com/deurzen)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1c1c1c;
    --base01: #d7afff;
    --base02: #72a25a;
    --base03: #d8ad4c;
    --base04: #597bc5;
    --base05: #8787af;
    --base06: #4a8382;
    --base07: #99ad6a;
    --base08: #e8e8de;
    --base09: #ffb964;
    --base0a: #adadad;
    --base0b: #fad07a;
    --base0c: #8197bf;
    --base0d: #d75f5f;
    --base0e: #8fbfdc;
    --base0f: #e8e8de;
}