/* Base16 Rosé Pine Moon
 * Scheme author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #232136;
    --base01: #2a273f;
    --base02: #393552;
    --base03: #6e6a86;
    --base04: #908caa;
    --base05: #e0def4;
    --base06: #e0def4;
    --base07: #56526e;
    --base08: #eb6f92;
    --base09: #f6c177;
    --base0a: #ea9a97;
    --base0b: #3e8fb0;
    --base0c: #9ccfd8;
    --base0d: #c4a7e7;
    --base0e: #f6c177;
    --base0f: #56526e;
}