/* Base16 Catppuccin Latte
 * Scheme author: https://github.com/catppuccin/catppuccin
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #eff1f5;
    --base01: #e6e9ef;
    --base02: #ccd0da;
    --base03: #bcc0cc;
    --base04: #acb0be;
    --base05: #4c4f69;
    --base06: #dc8a78;
    --base07: #7287fd;
    --base08: #d20f39;
    --base09: #fe640b;
    --base0a: #df8e1d;
    --base0b: #40a02b;
    --base0c: #179299;
    --base0d: #1e66f5;
    --base0e: #8839ef;
    --base0f: #dd7878;
}