/* Base16 Windows High Contrast Light
 * Scheme author: Fergus Collins (https://github.com/C-Fergus)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #fcfcfc;
    --base01: #e8e8e8;
    --base02: #d4d4d4;
    --base03: #c0c0c0;
    --base04: #7e7e7e;
    --base05: #545454;
    --base06: #2a2a2a;
    --base07: #000000;
    --base08: #800000;
    --base09: #fcfc54;
    --base0a: #808000;
    --base0b: #008000;
    --base0c: #008080;
    --base0d: #000080;
    --base0e: #800080;
    --base0f: #54fc54;
}