/* Base16 tender
 * Scheme author: Jacobo Tabernero (https://github/com/jacoborus/tender.vim)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #282828;
    --base01: #383838;
    --base02: #484848;
    --base03: #4c4c4c;
    --base04: #b8b8b8;
    --base05: #eeeeee;
    --base06: #e8e8e8;
    --base07: #feffff;
    --base08: #f43753;
    --base09: #dc9656;
    --base0a: #ffc24b;
    --base0b: #c9d05c;
    --base0c: #73cef4;
    --base0d: #b3deef;
    --base0e: #d3b987;
    --base0f: #a16946;
}