/* Base16 Ayu Dark
 * Scheme author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #0F1419;
    --base01: #131721;
    --base02: #272D38;
    --base03: #3E4B59;
    --base04: #BFBDB6;
    --base05: #E6E1CF;
    --base06: #E6E1CF;
    --base07: #F3F4F5;
    --base08: #F07178;
    --base09: #FF8F40;
    --base0a: #FFB454;
    --base0b: #B8CC52;
    --base0c: #95E6CB;
    --base0d: #59C2FF;
    --base0e: #D2A6FF;
    --base0f: #E6B673;
}