/* Base16 Dark Violet
 * Scheme author: ruler501 (https://github.com/ruler501/base16-darkviolet)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #000000;
    --base01: #231a40;
    --base02: #432d59;
    --base03: #593380;
    --base04: #00ff00;
    --base05: #b08ae6;
    --base06: #9045e6;
    --base07: #a366ff;
    --base08: #a82ee6;
    --base09: #bb66cc;
    --base0a: #f29df2;
    --base0b: #4595e6;
    --base0c: #40dfff;
    --base0d: #4136d9;
    --base0e: #7e5ce6;
    --base0f: #a886bf;
}