/* Base16 UwUnicorn
 * Scheme author: Fernando Marques (https://github.com/RakkiUwU) and Gabriel Fontes (https://github.com/Misterio77)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #241b26;
    --base01: #2f2a3f;
    --base02: #46354a;
    --base03: #6c3cb2;
    --base04: #7e5f83;
    --base05: #eed5d9;
    --base06: #d9c2c6;
    --base07: #e4ccd0;
    --base08: #877bb6;
    --base09: #de5b44;
    --base0a: #a84a73;
    --base0b: #c965bf;
    --base0c: #9c5fce;
    --base0d: #6a9eb5;
    --base0e: #78a38f;
    --base0f: #a3a079;
}