/* Base16 Green Screen
 * Scheme author: Chris Kempson (http://chriskempson.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #001100;
    --base01: #003300;
    --base02: #005500;
    --base03: #007700;
    --base04: #009900;
    --base05: #00bb00;
    --base06: #00dd00;
    --base07: #00ff00;
    --base08: #007700;
    --base09: #009900;
    --base0a: #007700;
    --base0b: #00bb00;
    --base0c: #005500;
    --base0d: #009900;
    --base0e: #00bb00;
    --base0f: #005500;
}