/* Base16 Material Lighter
 * Scheme author: Nate Peterson
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #FAFAFA;
    --base01: #E7EAEC;
    --base02: #CCEAE7;
    --base03: #CCD7DA;
    --base04: #8796B0;
    --base05: #80CBC4;
    --base06: #80CBC4;
    --base07: #FFFFFF;
    --base08: #FF5370;
    --base09: #F76D47;
    --base0a: #FFB62C;
    --base0b: #91B859;
    --base0c: #39ADB5;
    --base0d: #6182B8;
    --base0e: #7C4DFF;
    --base0f: #E53935;
}