/* Base16 Icy Dark
 * Scheme author: icyphox (https://icyphox.ga)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #021012;
    --base01: #031619;
    --base02: #041f23;
    --base03: #052e34;
    --base04: #064048;
    --base05: #095b67;
    --base06: #0c7c8c;
    --base07: #109cb0;
    --base08: #16c1d9;
    --base09: #b3ebf2;
    --base0a: #80deea;
    --base0b: #4dd0e1;
    --base0c: #26c6da;
    --base0d: #00bcd4;
    --base0e: #00acc1;
    --base0f: #0097a7;
}