/* Base16 Da One White
 * Scheme author: NNB (https://github.com/NNBnh)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #ffffff;
    --base01: #c8c8c8;
    --base02: #888888;
    --base03: #585858;
    --base04: #282828;
    --base05: #181818;
    --base06: #000000;
    --base07: #000000;
    --base08: #de5d6e;
    --base09: #ff9470;
    --base0a: #b3684f;
    --base0b: #76a85d;
    --base0c: #64b5a7;
    --base0d: #5890f8;
    --base0e: #c173d1;
    --base0f: #b3684f;
}