/* Base16 Helios
 * Scheme author: Alex Meyer (https://github.com/reyemxela)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1d2021;
    --base01: #383c3e;
    --base02: #53585b;
    --base03: #6f7579;
    --base04: #cdcdcd;
    --base05: #d5d5d5;
    --base06: #dddddd;
    --base07: #e5e5e5;
    --base08: #d72638;
    --base09: #eb8413;
    --base0a: #f19d1a;
    --base0b: #88b92d;
    --base0c: #1ba595;
    --base0d: #1e8bac;
    --base0e: #be4264;
    --base0f: #c85e0d;
}