/* Base16 Terracotta
 * Scheme author: Alexander Rossell Hayes (alexander@rossellhayes.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #efeae8;
    --base01: #dfd6d1;
    --base02: #d0c1bb;
    --base03: #c0aca4;
    --base04: #59453d;
    --base05: #473731;
    --base06: #352a25;
    --base07: #241c19;
    --base08: #a75045;
    --base09: #bd6942;
    --base0a: #ce943e;
    --base0b: #7a894a;
    --base0c: #847f9e;
    --base0d: #625574;
    --base0e: #8d5968;
    --base0f: #b07158;
}