/* Base16 Felinoid
 * Scheme author: Emma Eilefsen Glenna (http://eilefsen.net)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #232629;
    --base01: #3e4349;
    --base02: #474d53;
    --base03: #626b73;
    --base04: #c9cdd1;
    --base05: #f8f8f2;
    --base06: #fcfcf6;
    --base07: #fcfcfc;
    --base08: #fb0029;
    --base09: #fba900;
    --base0a: #fbd300;
    --base0b: #00fb55;
    --base0c: #c379e4;
    --base0d: #00a6fb;
    --base0e: #fb00a6;
    --base0f: #fb5500;
}