/* Base16 XCode Dusk
 * Scheme author: Elsa Gonsiorowski (https://github.com/gonsie)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #282B35;
    --base01: #3D4048;
    --base02: #53555D;
    --base03: #686A71;
    --base04: #7E8086;
    --base05: #939599;
    --base06: #A9AAAE;
    --base07: #BEBFC2;
    --base08: #B21889;
    --base09: #786DC5;
    --base0a: #438288;
    --base0b: #DF0002;
    --base0c: #00A0BE;
    --base0d: #790EAD;
    --base0e: #B21889;
    --base0f: #C77C48;
}