/* Base16 Github
 * Scheme author: Defman21
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #ffffff;
    --base01: #f5f5f5;
    --base02: #c8c8fa;
    --base03: #969896;
    --base04: #e8e8e8;
    --base05: #333333;
    --base06: #ffffff;
    --base07: #ffffff;
    --base08: #ed6a43;
    --base09: #0086b3;
    --base0a: #795da3;
    --base0b: #183691;
    --base0c: #183691;
    --base0d: #795da3;
    --base0e: #a71d5d;
    --base0f: #333333;
}