/* Base16 Solarized Dark
 * Scheme author: Ethan Schoonover (modified by aramisgithub)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #002b36;
    --base01: #073642;
    --base02: #586e75;
    --base03: #657b83;
    --base04: #839496;
    --base05: #93a1a1;
    --base06: #eee8d5;
    --base07: #fdf6e3;
    --base08: #dc322f;
    --base09: #cb4b16;
    --base0a: #b58900;
    --base0b: #859900;
    --base0c: #2aa198;
    --base0d: #268bd2;
    --base0e: #6c71c4;
    --base0f: #d33682;
}