/* Base16 Flat
 * Scheme author: Chris Kempson (http://chriskempson.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #2C3E50;
    --base01: #34495E;
    --base02: #7F8C8D;
    --base03: #95A5A6;
    --base04: #BDC3C7;
    --base05: #e0e0e0;
    --base06: #f5f5f5;
    --base07: #ECF0F1;
    --base08: #E74C3C;
    --base09: #E67E22;
    --base0a: #F1C40F;
    --base0b: #2ECC71;
    --base0c: #1ABC9C;
    --base0d: #3498DB;
    --base0e: #9B59B6;
    --base0f: #be643c;
}