/* Base16 Rigel
 * Scheme author: Alexander Keliris
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #00384d;
    --base01: #9cf087;
    --base02: #ffcc1b;
    --base03: #517f8d;
    --base04: #7eb2dd;
    --base05: #77929e;
    --base06: #fb94ff;
    --base07: #e6e6dc;
    --base08: #c43061;
    --base09: #ff5a67;
    --base0a: #f08e48;
    --base0b: #7fc06e;
    --base0c: #00cccc;
    --base0d: #1c8db2;
    --base0e: #c694ff;
    --base0f: #00ffff;
}