/* Base16 Primer Light Colorblind
 * Scheme author: Jimmy Lin
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f6f8fa;
    --base01: #d0d7de;
    --base02: #afb8c1;
    --base03: #8c959f;
    --base04: #424a53;
    --base05: #32383f;
    --base06: #24292f;
    --base07: #1b1f24;
    --base08: #ac5e00;
    --base09: #bc4c00;
    --base0a: #9a6700;
    --base0b: #0566d5;
    --base0c: #54aeff;
    --base0d: #0969da;
    --base0e: #bf3989;
    --base0f: #762c00;
}