/* Base16 Equilibrium Gray Dark
 * Scheme author: Carlo Abelli
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #111111;
    --base01: #1b1b1b;
    --base02: #262626;
    --base03: #777777;
    --base04: #919191;
    --base05: #ababab;
    --base06: #c6c6c6;
    --base07: #e2e2e2;
    --base08: #f04339;
    --base09: #df5923;
    --base0a: #bb8801;
    --base0b: #7f8b00;
    --base0c: #00948b;
    --base0d: #008dd1;
    --base0e: #6a7fd2;
    --base0f: #e3488e;
}