/* Base16 Windows 10 Light
 * Scheme author: Fergus Collins (https://github.com/C-Fergus)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f2f2f2;
    --base01: #e5e5e5;
    --base02: #d9d9d9;
    --base03: #cccccc;
    --base04: #ababab;
    --base05: #767676;
    --base06: #414141;
    --base07: #0c0c0c;
    --base08: #c50f1f;
    --base09: #f9f1a5;
    --base0a: #c19c00;
    --base0b: #13a10e;
    --base0c: #3a96dd;
    --base0d: #0037da;
    --base0e: #881798;
    --base0f: #16c60c;
}