/* Base16 selenized-white
 * Scheme author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #ffffff;
    --base01: #ebebeb;
    --base02: #cdcdcd;
    --base03: #878787;
    --base04: #878787;
    --base05: #474747;
    --base06: #282828;
    --base07: #282828;
    --base08: #bf0000;
    --base09: #ba3700;
    --base0a: #af8500;
    --base0b: #008400;
    --base0c: #009a8a;
    --base0d: #0054cf;
    --base0e: #6b40c3;
    --base0f: #dd0f9d;
}