/* Base16 One Light
 * Scheme author: Daniel Pfeifer (http://github.com/purpleKarrot)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #fafafa;
    --base01: #f0f0f1;
    --base02: #e5e5e6;
    --base03: #a0a1a7;
    --base04: #696c77;
    --base05: #383a42;
    --base06: #202227;
    --base07: #090a0b;
    --base08: #ca1243;
    --base09: #d75f00;
    --base0a: #c18401;
    --base0b: #50a14f;
    --base0c: #0184bc;
    --base0d: #4078f2;
    --base0e: #a626a4;
    --base0f: #986801;
}