/* Base16 Blue Forest
 * Scheme author: alonsodomin (https://github.com/alonsodomin)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #141F2E;
    --base01: #1e5c1e;
    --base02: #273e5c;
    --base03: #a0ffa0;
    --base04: #1e5c1e;
    --base05: #FFCC33;
    --base06: #91CCFF;
    --base07: #375780;
    --base08: #fffab1;
    --base09: #FF8080;
    --base0a: #91CCFF;
    --base0b: #80ff80;
    --base0c: #80ff80;
    --base0d: #a2cff5;
    --base0e: #0099FF;
    --base0f: #e7e7e7;
}