/* Base16 Atelier Dune
 * Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #20201d;
    --base01: #292824;
    --base02: #6e6b5e;
    --base03: #7d7a68;
    --base04: #999580;
    --base05: #a6a28c;
    --base06: #e8e4cf;
    --base07: #fefbec;
    --base08: #d73737;
    --base09: #b65611;
    --base0a: #ae9513;
    --base0b: #60ac39;
    --base0c: #1fad83;
    --base0d: #6684e1;
    --base0e: #b854d4;
    --base0f: #d43552;
}