/* Base16 Rebecca
 * Scheme author: Victor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #292a44;
    --base01: #663399;
    --base02: #383a62;
    --base03: #666699;
    --base04: #a0a0c5;
    --base05: #f1eff8;
    --base06: #ccccff;
    --base07: #53495d;
    --base08: #a0a0c5;
    --base09: #efe4a1;
    --base0a: #ae81ff;
    --base0b: #6dfedf;
    --base0c: #8eaee0;
    --base0d: #2de0a7;
    --base0e: #7aa5ff;
    --base0f: #ff79c6;
}