/* Base16 Tokyo Night Terminal Light
 * Scheme author: Michaël Ball
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #D5D6DB;
    --base01: #CBCCD1;
    --base02: #DFE0E5;
    --base03: #9699A3;
    --base04: #4C505E;
    --base05: #4C505E;
    --base06: #1A1B26;
    --base07: #1A1B26;
    --base08: #8C4351;
    --base09: #965027;
    --base0a: #8F5E15;
    --base0b: #33635C;
    --base0c: #0F4B6E;
    --base0d: #34548A;
    --base0e: #5A4A78;
    --base0f: #655259;
}