/* Base16 Precious Dark Eleven
 * Scheme author: 4lex4 &lt;4lex49@zoho.com&gt;
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1c1e20;
    --base01: #292b2d;
    --base02: #37393a;
    --base03: #858585;
    --base04: #a8a8a7;
    --base05: #b8b7b6;
    --base06: #b8b7b6;
    --base07: #b8b7b6;
    --base08: #ff8782;
    --base09: #ea9755;
    --base0a: #d0a543;
    --base0b: #95b658;
    --base0c: #42bda7;
    --base0d: #68b0ee;
    --base0e: #b799fe;
    --base0f: #f382d8;
}