/* Base16 Google Light
 * Scheme author: Seth Wright (http://sethawright.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #ffffff;
    --base01: #e0e0e0;
    --base02: #c5c8c6;
    --base03: #b4b7b4;
    --base04: #969896;
    --base05: #373b41;
    --base06: #282a2e;
    --base07: #1d1f21;
    --base08: #CC342B;
    --base09: #F96A38;
    --base0a: #FBA922;
    --base0b: #198844;
    --base0c: #3971ED;
    --base0d: #3971ED;
    --base0e: #A36AC7;
    --base0f: #3971ED;
}