/* Base16 Tokyo City Terminal Light
 * Scheme author: Michaël Ball
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #FBFBFD;
    --base01: #F6F6F8;
    --base02: #D8E2EC;
    --base03: #B7C5D3;
    --base04: #526270;
    --base05: #28323A;
    --base06: #1D252C;
    --base07: #171D23;
    --base08: #8C4351;
    --base09: #965027;
    --base0a: #8f5E15;
    --base0b: #33635C;
    --base0c: #0F4B6E;
    --base0d: #34548A;
    --base0e: #5A4A78;
    --base0f: #7E5140;
}