/* Base16 Catppuccin Macchiato
 * Scheme author: https://github.com/catppuccin/catppuccin
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #24273a;
    --base01: #1e2030;
    --base02: #363a4f;
    --base03: #494d64;
    --base04: #5b6078;
    --base05: #cad3f5;
    --base06: #f4dbd6;
    --base07: #b7bdf8;
    --base08: #ed8796;
    --base09: #f5a97f;
    --base0a: #eed49f;
    --base0b: #a6da95;
    --base0c: #8bd5ca;
    --base0d: #8aadf4;
    --base0e: #c6a0f6;
    --base0f: #f0c6c6;
}