/* Base16 Primer Dark High Contrast
 * Scheme author: Jimmy Lin
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #010409;
    --base01: #272b33;
    --base02: #525964;
    --base03: #7a828e;
    --base04: #bdc4cc;
    --base05: #d9dee3;
    --base06: #f0f3f6;
    --base07: #ffffff;
    --base08: #ff9492;
    --base09: #fe9a2d;
    --base0a: #f0b72f;
    --base0b: #26cd4d;
    --base0c: #addcff;
    --base0d: #71b7ff;
    --base0e: #ff8dc7;
    --base0f: #e7811d;
}