/* Base16 Grayscale Dark
 * Scheme author: Alexandre Gavioli (https://github.com/Alexx2/)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #101010;
    --base01: #252525;
    --base02: #464646;
    --base03: #525252;
    --base04: #ababab;
    --base05: #b9b9b9;
    --base06: #e3e3e3;
    --base07: #f7f7f7;
    --base08: #7c7c7c;
    --base09: #999999;
    --base0a: #a0a0a0;
    --base0b: #8e8e8e;
    --base0c: #868686;
    --base0d: #686868;
    --base0e: #747474;
    --base0f: #5e5e5e;
}