/* Base16 Material
 * Scheme author: Nate Peterson
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #263238;
    --base01: #2E3C43;
    --base02: #314549;
    --base03: #546E7A;
    --base04: #B2CCD6;
    --base05: #EEFFFF;
    --base06: #EEFFFF;
    --base07: #FFFFFF;
    --base08: #F07178;
    --base09: #F78C6C;
    --base0a: #FFCB6B;
    --base0b: #C3E88D;
    --base0c: #89DDFF;
    --base0d: #82AAFF;
    --base0e: #C792EA;
    --base0f: #FF5370;
}