/* Base16 Primer Dark Colorblind
 * Scheme author: Jimmy Lin
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #010409;
    --base01: #21262d;
    --base02: #30363d;
    --base03: #484f58;
    --base04: #8b949e;
    --base05: #b1bac4;
    --base06: #c9d1d9;
    --base07: #f0f6fc;
    --base08: #d69a00;
    --base09: #f0883e;
    --base0a: #d29922;
    --base0b: #42a0ff;
    --base0c: #a5d6ff;
    --base0d: #58a6ff;
    --base0e: #f778ba;
    --base0f: #bd561d;
}