/* Base16 Decaf
 * Scheme author: Alex Mirrington (https://github.com/alexmirrington)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #2d2d2d;
    --base01: #393939;
    --base02: #515151;
    --base03: #777777;
    --base04: #b4b7b4;
    --base05: #cccccc;
    --base06: #e0e0e0;
    --base07: #ffffff;
    --base08: #ff7f7b;
    --base09: #ffbf70;
    --base0a: #ffd67c;
    --base0b: #beda78;
    --base0c: #bed6ff;
    --base0d: #90bee1;
    --base0e: #efb3f7;
    --base0f: #ff93b3;
}