/* Base16 Apathy
 * Scheme author: Jannik Siebert (https://github.com/janniks)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #031A16;
    --base01: #0B342D;
    --base02: #184E45;
    --base03: #2B685E;
    --base04: #5F9C92;
    --base05: #81B5AC;
    --base06: #A7CEC8;
    --base07: #D2E7E4;
    --base08: #3E9688;
    --base09: #3E7996;
    --base0a: #3E4C96;
    --base0b: #883E96;
    --base0c: #963E4C;
    --base0d: #96883E;
    --base0e: #4C963E;
    --base0f: #3E965B;
}