/* Base16 DanQing Light
 * Scheme author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #fcfefd;
    --base01: #ecf6f2;
    --base02: #e0f0eF;
    --base03: #cad8d2;
    --base04: #9da8a3;
    --base05: #5a605d;
    --base06: #434846;
    --base07: #2d302f;
    --base08: #F9906F;
    --base09: #B38A61;
    --base0a: #F0C239;
    --base0b: #8AB361;
    --base0c: #30DFF3;
    --base0d: #B0A4E3;
    --base0e: #CCA4E3;
    --base0f: #CA6924;
}