/* Base16 Porple
 * Scheme author: Niek den Breeje (https://github.com/AuditeMarlow)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #292c36;
    --base01: #333344;
    --base02: #474160;
    --base03: #65568a;
    --base04: #b8b8b8;
    --base05: #d8d8d8;
    --base06: #e8e8e8;
    --base07: #f8f8f8;
    --base08: #f84547;
    --base09: #d28e5d;
    --base0a: #efa16b;
    --base0b: #95c76f;
    --base0c: #64878f;
    --base0d: #8485ce;
    --base0e: #b74989;
    --base0f: #986841;
}