/* Base16 chameleon
 * Scheme author: japanoise (https://github.com/japanoise)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #0a0f14;
    --base01: #263037;
    --base02: #3f545d;
    --base03: #5a7c84;
    --base04: #77a5aa;
    --base05: #98d1ce;
    --base06: #aaeedd;
    --base07: #aaffee;
    --base08: #c33027;
    --base09: #d26939;
    --base0a: #edb54b;
    --base0b: #26a98b;
    --base0c: #27bcc4;
    --base0d: #2788C4;
    --base0e: #888ba5;
    --base0f: #a79169;
}