/* Base16 Measured Dark
 * Scheme author: Measured (https://measured.co)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #00211f;
    --base01: #003a38;
    --base02: #005453;
    --base03: #ababab;
    --base04: #c3c3c3;
    --base05: #dcdcdc;
    --base06: #efefef;
    --base07: #f5f5f5;
    --base08: #ce7e8e;
    --base09: #dca37c;
    --base0a: #bfac4e;
    --base0b: #56c16f;
    --base0c: #62c0be;
    --base0d: #88b0da;
    --base0e: #b39be0;
    --base0f: #d89aba;
}