/* Base16 Silk Dark
 * Scheme author: Gabriel Fontes (https://github.com/Misterio77)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #0e3c46;
    --base01: #1D494E;
    --base02: #2A5054;
    --base03: #587073;
    --base04: #9DC8CD;
    --base05: #C7DBDD;
    --base06: #CBF2F7;
    --base07: #D2FAFF;
    --base08: #fb6953;
    --base09: #fcab74;
    --base0a: #fce380;
    --base0b: #73d8ad;
    --base0c: #3fb2b9;
    --base0d: #46bddd;
    --base0e: #756b8a;
    --base0f: #9b647b;
}