/* Base16 Nebula
 * Scheme author: Gabriel Fontes (https://github.com/Misterio77)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #22273b;
    --base01: #414f60;
    --base02: #5a8380;
    --base03: #6e6f72;
    --base04: #87888b;
    --base05: #a4a6a9;
    --base06: #c7c9cd;
    --base07: #8dbdaa;
    --base08: #777abc;
    --base09: #94929e;
    --base0a: #4f9062;
    --base0b: #6562a8;
    --base0c: #226f68;
    --base0d: #4d6bb6;
    --base0e: #716cae;
    --base0f: #8c70a7;
}