/* Base16 Tokyo City Dark
 * Scheme author: Michaël Ball
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #171D23;
    --base01: #1D252C;
    --base02: #28323A;
    --base03: #526270;
    --base04: #B7C5D3;
    --base05: #D8E2EC;
    --base06: #F6F6F8;
    --base07: #FBFBFD;
    --base08: #F7768E;
    --base09: #FF9E64;
    --base0a: #B7C5D3;
    --base0b: #9ECE6A;
    --base0c: #89DDFF;
    --base0d: #7AA2F7;
    --base0e: #BB9AF7;
    --base0f: #BB9AF7;
}