/* Base16 emil
 * Scheme author: limelier
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #efefef;
    --base01: #bebed2;
    --base02: #9e9eaf;
    --base03: #7c7c98;
    --base04: #505063;
    --base05: #313145;
    --base06: #22223a;
    --base07: #1a1a2f;
    --base08: #f43979;
    --base09: #d22a8b;
    --base0a: #ff669b;
    --base0b: #0073a8;
    --base0c: #2155d6;
    --base0d: #471397;
    --base0e: #6916b6;
    --base0f: #8d17a5;
}