/* Base16 Catppuccin Mocha
 * Scheme author: https://github.com/catppuccin/catppuccin
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1e1e2e;
    --base01: #181825;
    --base02: #313244;
    --base03: #45475a;
    --base04: #585b70;
    --base05: #cdd6f4;
    --base06: #f5e0dc;
    --base07: #b4befe;
    --base08: #f38ba8;
    --base09: #fab387;
    --base0a: #f9e2af;
    --base0b: #a6e3a1;
    --base0c: #94e2d5;
    --base0d: #89b4fa;
    --base0e: #cba6f7;
    --base0f: #f2cdcd;
}