/* Base16 Ayu Mirage
 * Scheme author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #171B24;
    --base01: #1F2430;
    --base02: #242936;
    --base03: #707A8C;
    --base04: #8A9199;
    --base05: #CCCAC2;
    --base06: #D9D7CE;
    --base07: #F3F4F5;
    --base08: #F28779;
    --base09: #FFAD66;
    --base0a: #FFD173;
    --base0b: #D5FF80;
    --base0c: #95E6CB;
    --base0d: #5CCFE6;
    --base0e: #D4BFFF;
    --base0f: #F29E74;
}