/* Base16 Chinoiserie Morandi
 * Scheme author: Di Wang (https://cs.cmu.edu/~diw3)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1d1d1d;
    --base01: #282828;
    --base02: #373737;
    --base03: #918072;
    --base04: #bdaead;
    --base05: #c4cbcf;
    --base06: #eee7f2;
    --base07: #fffef9;
    --base08: #c06061;
    --base09: #ff937f;
    --base0a: #e5bc84;
    --base0b: #8ca07b;
    --base0c: #5e8c9b;
    --base0d: #839ec9;
    --base0e: #98a1d8;
    --base0f: #d9cdb4;
}