/* Base16 Ancient One Dark
 * Scheme author: holodata
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #191523;
    --base01: #8d6bc4;
    --base02: #675690;
    --base03: #7965a9;
    --base04: #68519d;
    --base05: #d6cfdb;
    --base06: #b573b4;
    --base07: #000000;
    --base08: #f070a3;
    --base09: #d6cfdb;
    --base0a: #fa3d7c;
    --base0b: #5d37e6;
    --base0c: #8572e6;
    --base0d: #8773b5;
    --base0e: #363452;
    --base0f: #ffffff;
}