/* Base16 Measured Light
 * Scheme author: Measured (https://measured.co)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #fdf9f5;
    --base01: #f9f5f1;
    --base02: #ffeada;
    --base03: #5a5a5a;
    --base04: #404040;
    --base05: #292929;
    --base06: #181818;
    --base07: #000000;
    --base08: #ac1f35;
    --base09: #ad5601;
    --base0a: #645a00;
    --base0b: #0c680c;
    --base0c: #01716f;
    --base0d: #0158ad;
    --base0e: #6645c2;
    --base0f: #a81a66;
}