/* Base16 Windows NT Light
 * Scheme author: Fergus Collins (https://github.com/C-Fergus)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #ffffff;
    --base01: #eaeaea;
    --base02: #d5d5d5;
    --base03: #c0c0c0;
    --base04: #a0a0a0;
    --base05: #808080;
    --base06: #404040;
    --base07: #000000;
    --base08: #800000;
    --base09: #ffff00;
    --base0a: #808000;
    --base0b: #008000;
    --base0c: #008080;
    --base0d: #000080;
    --base0e: #800080;
    --base0f: #00ff00;
}