/* Base16 Seti UI
 * Scheme author: 
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #151718;
    --base01: #282a2b;
    --base02: #3B758C;
    --base03: #41535B;
    --base04: #43a5d5;
    --base05: #d6d6d6;
    --base06: #eeeeee;
    --base07: #ffffff;
    --base08: #Cd3f45;
    --base09: #db7b55;
    --base0a: #e6cd69;
    --base0b: #9fca56;
    --base0c: #55dbbe;
    --base0d: #55b5db;
    --base0e: #a074c4;
    --base0f: #8a553f;
}