/* Base16 Chinoiserie Night
 * Scheme author: Di Wang (https://cs.cmu.edu/~diw3)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1d1d1d;
    --base01: #282828;
    --base02: #373737;
    --base03: #918072;
    --base04: #bdaead;
    --base05: #c4cbcf;
    --base06: #eee7f2;
    --base07: #fffef9;
    --base08: #f07c82;
    --base09: #f4a83a;
    --base0a: #f4ce69;
    --base0b: #b2cf87;
    --base0c: #b0d5df;
    --base0d: #8fb2c9;
    --base0e: #be9db9;
    --base0f: #b89485;
}