/* Base16 Equilibrium Gray Light
 * Scheme author: Carlo Abelli
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f1f1f1;
    --base01: #e2e2e2;
    --base02: #d4d4d4;
    --base03: #777777;
    --base04: #5e5e5e;
    --base05: #474747;
    --base06: #303030;
    --base07: #1b1b1b;
    --base08: #d02023;
    --base09: #bf3e05;
    --base0a: #9d6f00;
    --base0b: #637200;
    --base0c: #007a72;
    --base0d: #0073b5;
    --base0e: #4e66b6;
    --base0f: #c42775;
}