/* Base16 Cupcake
 * Scheme author: Chris Kempson (http://chriskempson.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #fbf1f2;
    --base01: #f2f1f4;
    --base02: #d8d5dd;
    --base03: #bfb9c6;
    --base04: #a59daf;
    --base05: #8b8198;
    --base06: #72677E;
    --base07: #585062;
    --base08: #D57E85;
    --base09: #EBB790;
    --base0a: #DCB16C;
    --base0b: #A3B367;
    --base0c: #69A9A7;
    --base0d: #7297B9;
    --base0e: #BB99B4;
    --base0f: #BAA58C;
}