/* Base16 selenized-light
 * Scheme author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #fbf3db;
    --base01: #ece3cc;
    --base02: #d5cdb6;
    --base03: #909995;
    --base04: #909995;
    --base05: #53676d;
    --base06: #3a4d53;
    --base07: #3a4d53;
    --base08: #cc1729;
    --base09: #bc5819;
    --base0a: #a78300;
    --base0b: #428b00;
    --base0c: #00978a;
    --base0d: #006dce;
    --base0e: #825dc0;
    --base0f: #c44392;
}