/* Base16 Stella
 * Scheme author: Shrimpram
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #2B213C;
    --base01: #362B48;
    --base02: #4D4160;
    --base03: #655978;
    --base04: #7F7192;
    --base05: #998BAD;
    --base06: #B4A5C8;
    --base07: #EBDCFF;
    --base08: #C79987;
    --base09: #8865C6;
    --base0a: #C7C691;
    --base0b: #ACC79B;
    --base0c: #9BC7BF;
    --base0d: #A5AAD4;
    --base0e: #C594FF;
    --base0f: #C7AB87;
}