/* Base16 Cupertino
 * Scheme author: Defman21
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #ffffff;
    --base01: #c0c0c0;
    --base02: #c0c0c0;
    --base03: #808080;
    --base04: #808080;
    --base05: #404040;
    --base06: #404040;
    --base07: #5e5e5e;
    --base08: #c41a15;
    --base09: #eb8500;
    --base0a: #826b28;
    --base0b: #007400;
    --base0c: #318495;
    --base0d: #0000ff;
    --base0e: #a90d91;
    --base0f: #826b28;
}