/* Base16 Horizon Light
 * Scheme author: Michaël Ball (http://github.com/michael-ball/)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #FDF0ED;
    --base01: #FADAD1;
    --base02: #F9CBBE;
    --base03: #BDB3B1;
    --base04: #948C8A;
    --base05: #403C3D;
    --base06: #302C2D;
    --base07: #201C1D;
    --base08: #F7939B;
    --base09: #F6661E;
    --base0a: #FBE0D9;
    --base0b: #94E1B0;
    --base0c: #DC3318;
    --base0d: #DA103F;
    --base0e: #1D8991;
    --base0f: #E58C92;
}