/* Base16 Atelier Forest Light
 * Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f1efee;
    --base01: #e6e2e0;
    --base02: #a8a19f;
    --base03: #9c9491;
    --base04: #766e6b;
    --base05: #68615e;
    --base06: #2c2421;
    --base07: #1b1918;
    --base08: #f22c40;
    --base09: #df5320;
    --base0a: #c38418;
    --base0b: #7b9726;
    --base0c: #3d97b8;
    --base0d: #407ee7;
    --base0e: #6666ea;
    --base0f: #c33ff3;
}