/* Base16 Atelier Cave Light
 * Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #efecf4;
    --base01: #e2dfe7;
    --base02: #8b8792;
    --base03: #7e7887;
    --base04: #655f6d;
    --base05: #585260;
    --base06: #26232a;
    --base07: #19171c;
    --base08: #be4678;
    --base09: #aa573c;
    --base0a: #a06e3b;
    --base0b: #2a9292;
    --base0c: #398bc6;
    --base0d: #576ddb;
    --base0e: #955ae7;
    --base0f: #bf40bf;
}