/* Base16 Qualia
 * Scheme author: isaacwhanson
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #101010;
    --base01: #454545;
    --base02: #454545;
    --base03: #454545;
    --base04: #808080;
    --base05: #C0C0C0;
    --base06: #C0C0C0;
    --base07: #454545;
    --base08: #EFA6A2;
    --base09: #A3B8EF;
    --base0a: #E6A3DC;
    --base0b: #80C990;
    --base0c: #C8C874;
    --base0d: #50CACD;
    --base0e: #E0AF85;
    --base0f: #808080;
}