/* Base16 Tokyo Night Storm
 * Scheme author: Michaël Ball
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #24283B;
    --base01: #16161E;
    --base02: #343A52;
    --base03: #444B6A;
    --base04: #787C99;
    --base05: #A9B1D6;
    --base06: #CBCCD1;
    --base07: #D5D6DB;
    --base08: #C0CAF5;
    --base09: #A9B1D6;
    --base0a: #0DB9D7;
    --base0b: #9ECE6A;
    --base0c: #B4F9F8;
    --base0d: #2AC3DE;
    --base0e: #BB9AF7;
    --base0f: #F7768E;
}