/* Base16 Chalk
 * Scheme author: Chris Kempson (http://chriskempson.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #151515;
    --base01: #202020;
    --base02: #303030;
    --base03: #505050;
    --base04: #b0b0b0;
    --base05: #d0d0d0;
    --base06: #e0e0e0;
    --base07: #f5f5f5;
    --base08: #fb9fb1;
    --base09: #eda987;
    --base0a: #ddb26f;
    --base0b: #acc267;
    --base0c: #12cfc0;
    --base0d: #6fc2ef;
    --base0e: #e1a3ee;
    --base0f: #deaf8f;
}