/* Base16 Precious Dark Fifteen
 * Scheme author: 4lex4 &lt;4lex49@zoho.com&gt;
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #23262b;
    --base01: #303337;
    --base02: #3e4044;
    --base03: #898989;
    --base04: #abaaa8;
    --base05: #bab9b6;
    --base06: #bab9b6;
    --base07: #bab9b6;
    --base08: #ff8782;
    --base09: #e99857;
    --base0a: #cfa546;
    --base0b: #95b659;
    --base0c: #42bda7;
    --base0d: #66b0ef;
    --base0e: #b799ff;
    --base0f: #f382d8;
}