/* Base16 Precious Light White
 * Scheme author: 4lex4 &lt;4lex49@zoho.com&gt;
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #ffffff;
    --base01: #ededed;
    --base02: #dbdbdb;
    --base03: #848484;
    --base04: #636363;
    --base05: #555555;
    --base06: #555555;
    --base07: #555555;
    --base08: #af4947;
    --base09: #a0570d;
    --base0a: #876500;
    --base0b: #557301;
    --base0c: #087767;
    --base0d: #186daa;
    --base0e: #7b4ecb;
    --base0f: #a93e93;
}