/* Base16 Circus
 * Scheme author: Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #191919;
    --base01: #202020;
    --base02: #303030;
    --base03: #5f5a60;
    --base04: #505050;
    --base05: #a7a7a7;
    --base06: #808080;
    --base07: #ffffff;
    --base08: #dc657d;
    --base09: #4bb1a7;
    --base0a: #c3ba63;
    --base0b: #84b97c;
    --base0c: #4bb1a7;
    --base0d: #639ee4;
    --base0e: #b888e2;
    --base0f: #b888e2;
}