/* Base16 Tomorrow Night
 * Scheme author: Chris Kempson (http://chriskempson.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1d1f21;
    --base01: #282a2e;
    --base02: #373b41;
    --base03: #969896;
    --base04: #b4b7b4;
    --base05: #c5c8c6;
    --base06: #e0e0e0;
    --base07: #ffffff;
    --base08: #cc6666;
    --base09: #de935f;
    --base0a: #f0c674;
    --base0b: #b5bd68;
    --base0c: #8abeb7;
    --base0d: #81a2be;
    --base0e: #b294bb;
    --base0f: #a3685a;
}