/* Base16 standardized-dark
 * Scheme author: ali (https://github.com/ali-githb/base16-standardized-scheme)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #222222;
    --base01: #303030;
    --base02: #555555;
    --base03: #898989;
    --base04: #898989;
    --base05: #c0c0c0;
    --base06: #e0e0e0;
    --base07: #ffffff;
    --base08: #e15d67;
    --base09: #fc804e;
    --base0a: #e1b31a;
    --base0b: #5db129;
    --base0c: #21c992;
    --base0d: #00a3f2;
    --base0e: #b46ee0;
    --base0f: #b87d28;
}