/* Base16 Blueish
 * Scheme author: Ben Mayoras
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #182430;
    --base01: #243C54;
    --base02: #46290A;
    --base03: #616D78;
    --base04: #74AFE7;
    --base05: #C8E1F8;
    --base06: #DDEAF6;
    --base07: #8F98A0;
    --base08: #4CE587;
    --base09: #F6A85C;
    --base0a: #82AAFF;
    --base0b: #C3E88D;
    --base0c: #5FD1FF;
    --base0d: #82AAFF;
    --base0e: #FF84DD;
    --base0f: #BBD2E8;
}