/* Base16 OneDark
 * Scheme author: Lalit Magant (http://github.com/tilal6991)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #282c34;
    --base01: #353b45;
    --base02: #3e4451;
    --base03: #545862;
    --base04: #565c64;
    --base05: #abb2bf;
    --base06: #b6bdca;
    --base07: #c8ccd4;
    --base08: #e06c75;
    --base09: #d19a66;
    --base0a: #e5c07b;
    --base0b: #98c379;
    --base0c: #56b6c2;
    --base0d: #61afef;
    --base0e: #c678dd;
    --base0f: #be5046;
}