/* Base16 Eva
 * Scheme author: kjakapat (https://github.com/kjakapat)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #2a3b4d;
    --base01: #3d566f;
    --base02: #4b6988;
    --base03: #55799c;
    --base04: #7e90a3;
    --base05: #9fa2a6;
    --base06: #d6d7d9;
    --base07: #ffffff;
    --base08: #c4676c;
    --base09: #ff9966;
    --base0a: #ffff66;
    --base0b: #66ff66;
    --base0c: #4b8f77;
    --base0d: #15f4ee;
    --base0e: #9c6cd3;
    --base0f: #bb64a9;
}