/* Base16 Everforest
 * Scheme author: Sainnhe Park (https://github.com/sainnhe)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #2f383e;
    --base01: #374247;
    --base02: #4a555b;
    --base03: #859289;
    --base04: #9da9a0;
    --base05: #d3c6aa;
    --base06: #e4e1cd;
    --base07: #fdf6e3;
    --base08: #7fbbb3;
    --base09: #d699b6;
    --base0a: #dbbc7f;
    --base0b: #83c092;
    --base0c: #e69875;
    --base0d: #a7c080;
    --base0e: #e67e80;
    --base0f: #eaedc8;
}