/* Base16 Horizon Terminal Dark
 * Scheme author: Michaël Ball (http://github.com/michael-ball/)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1C1E26;
    --base01: #232530;
    --base02: #2E303E;
    --base03: #6F6F70;
    --base04: #9DA0A2;
    --base05: #CBCED0;
    --base06: #DCDFE4;
    --base07: #E3E6EE;
    --base08: #E95678;
    --base09: #FAB795;
    --base0a: #FAC29A;
    --base0b: #29D398;
    --base0c: #59E1E3;
    --base0d: #26BBD9;
    --base0e: #EE64AC;
    --base0f: #F09383;
}