/* Base16 iA Dark
 * Scheme author: iA Inc. (modified by aramisgithub)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1a1a1a;
    --base01: #222222;
    --base02: #1d414d;
    --base03: #767676;
    --base04: #b8b8b8;
    --base05: #cccccc;
    --base06: #e8e8e8;
    --base07: #f8f8f8;
    --base08: #d88568;
    --base09: #d86868;
    --base0a: #b99353;
    --base0b: #83a471;
    --base0c: #7c9cae;
    --base0d: #8eccdd;
    --base0e: #b98eb2;
    --base0f: #8b6c37;
}