/* Base16 selenized-black
 * Scheme author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #181818;
    --base01: #252525;
    --base02: #3b3b3b;
    --base03: #777777;
    --base04: #777777;
    --base05: #b9b9b9;
    --base06: #dedede;
    --base07: #dedede;
    --base08: #ed4a46;
    --base09: #e67f43;
    --base0a: #dbb32d;
    --base0b: #70b433;
    --base0c: #3fc5b7;
    --base0d: #368aeb;
    --base0e: #a580e2;
    --base0f: #eb6eb7;
}