/* Base16 Windows 95
 * Scheme author: Fergus Collins (https://github.com/C-Fergus)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #000000;
    --base01: #1C1C1C;
    --base02: #383838;
    --base03: #545454;
    --base04: #7e7e7e;
    --base05: #a8a8a8;
    --base06: #d2d2d2;
    --base07: #fcfcfc;
    --base08: #fc5454;
    --base09: #a85400;
    --base0a: #fcfc54;
    --base0b: #54fc54;
    --base0c: #54fcfc;
    --base0d: #5454fc;
    --base0e: #fc54fc;
    --base0f: #00a800;
}