/* Base16 Bespin
 * Scheme author: Jan T. Sott
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #28211c;
    --base01: #36312e;
    --base02: #5e5d5c;
    --base03: #666666;
    --base04: #797977;
    --base05: #8a8986;
    --base06: #9d9b97;
    --base07: #baae9e;
    --base08: #cf6a4c;
    --base09: #cf7d34;
    --base0a: #f9ee98;
    --base0b: #54be0d;
    --base0c: #afc4db;
    --base0d: #5ea6ea;
    --base0e: #9b859d;
    --base0f: #937121;
}