/* Base16 Shades of Purple
 * Scheme author: Iolar Demartini Junior (http://github.com/demartini) based on Shades of Purple Theme (https://github.com/ahmadawais/shades-of-purple-vscode).
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1e1e3f;
    --base01: #43d426;
    --base02: #f1d000;
    --base03: #808080;
    --base04: #6871ff;
    --base05: #c7c7c7;
    --base06: #ff77ff;
    --base07: #ffffff;
    --base08: #d90429;
    --base09: #f92a1c;
    --base0a: #ffe700;
    --base0b: #3ad900;
    --base0c: #00c5c7;
    --base0d: #6943ff;
    --base0e: #ff2c70;
    --base0f: #79e8fb;
}