/* Base16 Tokyodark Terminal
 * Scheme author: Tiagovla (https://github.com/tiagovla/)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #11121d;
    --base01: #1A1B2A;
    --base02: #212234;
    --base03: #282c34;
    --base04: #4a5057;
    --base05: #a0a8cd;
    --base06: #a0a8cd;
    --base07: #a0a8cd;
    --base08: #ee6d85;
    --base09: #f6955b;
    --base0a: #d7a65f;
    --base0b: #95c561;
    --base0c: #38a89d;
    --base0d: #7199ee;
    --base0e: #a485dd;
    --base0f: #773440;
}