/* Base16 Codeschool
 * Scheme author: blockloop
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #232c31;
    --base01: #1c3657;
    --base02: #2a343a;
    --base03: #3f4944;
    --base04: #84898c;
    --base05: #9ea7a6;
    --base06: #a7cfa3;
    --base07: #b5d8f6;
    --base08: #2a5491;
    --base09: #43820d;
    --base0a: #a03b1e;
    --base0b: #237986;
    --base0c: #b02f30;
    --base0d: #484d79;
    --base0e: #c59820;
    --base0f: #c98344;
}