/* Base16 painted
 * Scheme author: dark-beep-boop
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #011837;
    --base01: #022c64;
    --base02: #033e8c;
    --base03: #0450b4;
    --base04: #378cfb;
    --base05: #4b97fb;
    --base06: #5fa3fc;
    --base07: #9bc5fd;
    --base08: #ff1f1f;
    --base09: #fd3d25;
    --base0a: #fa5c2b;
    --base0b: #f87a31;
    --base0c: #f59937;
    --base0d: #f3b73d;
    --base0e: #e28fbb;
    --base0f: #e28fbb;
}