/* Base16 standardized-light
 * Scheme author: ali (https://github.com/ali-githb/base16-standardized-scheme)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #ffffff;
    --base01: #eeeeee;
    --base02: #cccccc;
    --base03: #767676;
    --base04: #767676;
    --base05: #444444;
    --base06: #333333;
    --base07: #222222;
    --base08: #d03e3e;
    --base09: #d7691d;
    --base0a: #ad8200;
    --base0b: #31861f;
    --base0c: #00998f;
    --base0d: #3173c5;
    --base0e: #9e57c2;
    --base0f: #895025;
}