/* Base16 Forest and Stream Dark
 * Scheme author: Xavier Tilley (hippietilley)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #050001;
    --base01: #2b2627;
    --base02: #504d4d;
    --base03: #6a6969;
    --base04: #868686;
    --base05: #a3a2a2;
    --base06: #c0bfbf;
    --base07: #d3d2d2;
    --base08: #901e35;
    --base09: #cf3432;
    --base0a: #f9b23e;
    --base0b: #27755b;
    --base0c: #019386;
    --base0d: #12615b;
    --base0e: #2a495e;
    --base0f: #5d3648;
}