/* Base16 Atelier Sulphurpool
 * Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #202746;
    --base01: #293256;
    --base02: #5e6687;
    --base03: #6b7394;
    --base04: #898ea4;
    --base05: #979db4;
    --base06: #dfe2f1;
    --base07: #f5f7ff;
    --base08: #c94922;
    --base09: #c76b29;
    --base0a: #c08b30;
    --base0b: #ac9739;
    --base0c: #22a2c9;
    --base0d: #3d8fd1;
    --base0e: #6679cc;
    --base0f: #9c637a;
}