/* Base16 Ocean
 * Scheme author: Chris Kempson (http://chriskempson.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #2b303b;
    --base01: #343d46;
    --base02: #4f5b66;
    --base03: #65737e;
    --base04: #a7adba;
    --base05: #c0c5ce;
    --base06: #dfe1e8;
    --base07: #eff1f5;
    --base08: #bf616a;
    --base09: #d08770;
    --base0a: #ebcb8b;
    --base0b: #a3be8c;
    --base0c: #96b5b4;
    --base0d: #8fa1b3;
    --base0e: #b48ead;
    --base0f: #ab7967;
}