/* Base16 Gruvbox dark, baby
 * Scheme author: Ali Elwnegy (alinwegy@gmail.com), Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1d2021;
    --base01: #282828;
    --base02: #32302f;
    --base03: #504945;
    --base04: #83a598;
    --base05: #665c54;
    --base06: #DEDEDE;
    --base07: #ebdbb2;
    --base08: #fb4934;
    --base09: #d65d0e;
    --base0a: #fabd2f;
    --base0b: #689d6a;
    --base0c: #7fa2ac;
    --base0d: #458588;
    --base0e: #D4879C;
    --base0f: #b16286;
}