/* Base16 Still Alive
 * Scheme author: Derrick McKee (derrick.mckee@gmail.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #F0F0F0;
    --base01: #F0D848;
    --base02: #FFF018;
    --base03: #F01818;
    --base04: #F00000;
    --base05: #D80000;
    --base06: #489000;
    --base07: #30A860;
    --base08: #487830;
    --base09: #183048;
    --base0a: #426395;
    --base0b: #5C5C6A;
    --base0c: #2C3C57;
    --base0d: #001878;
    --base0e: #900000;
    --base0f: #140C0D;
}