/* Base16 Harmonic16 Light
 * Scheme author: Jannik Siebert (https://github.com/janniks)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #f7f9fb;
    --base01: #e5ebf1;
    --base02: #cbd6e2;
    --base03: #aabcce;
    --base04: #627e99;
    --base05: #405c79;
    --base06: #223b54;
    --base07: #0b1c2c;
    --base08: #bf8b56;
    --base09: #bfbf56;
    --base0a: #8bbf56;
    --base0b: #56bf8b;
    --base0c: #568bbf;
    --base0d: #8b56bf;
    --base0e: #bf568b;
    --base0f: #bf5656;
}