/* Base16 Macintosh
 * Scheme author: Rebecca Bettencourt (http://www.kreativekorp.com)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #000000;
    --base01: #404040;
    --base02: #404040;
    --base03: #808080;
    --base04: #808080;
    --base05: #c0c0c0;
    --base06: #c0c0c0;
    --base07: #ffffff;
    --base08: #dd0907;
    --base09: #ff6403;
    --base0a: #fbf305;
    --base0b: #1fb714;
    --base0c: #02abea;
    --base0d: #0000d3;
    --base0e: #4700a5;
    --base0f: #90713a;
}