/* Base16 Snazzy
 * Scheme author: Chawye Hsu (https://github.com/chawyehsu) based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #282a36;
    --base01: #34353e;
    --base02: #43454f;
    --base03: #78787e;
    --base04: #a5a5a9;
    --base05: #e2e4e5;
    --base06: #eff0eb;
    --base07: #f1f1f0;
    --base08: #ff5c57;
    --base09: #ff9f43;
    --base0a: #f3f99d;
    --base0b: #5af78e;
    --base0c: #9aedfe;
    --base0d: #57c7ff;
    --base0e: #ff6ac1;
    --base0f: #b2643c;
}