/* Base16 Tokyodark
 * Scheme author: Tiagovla (https://github.com/tiagovla/)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #11121d;
    --base01: #151621;
    --base02: #43444f;
    --base03: #393a45;
    --base04: #1b1c27;
    --base05: #abb2bf;
    --base06: #555661;
    --base07: #2c2d38;
    --base08: #a485dd;
    --base09: #a485dd;
    --base0a: #7199ee;
    --base0b: #d7A65f;
    --base0c: #a485dd;
    --base0d: #95c561;
    --base0e: #ee6d85;
    --base0f: #773440;
}