/* Base16 Void Bear
 * Scheme author: kvoli (https://github.com/kvoli)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #000000;
    --base01: #655B53;
    --base02: #6F665B;
    --base03: #7c8776;
    --base04: #776E61;
    --base05: #b2c1aa;
    --base06: #AA5B2B;
    --base07: #b2c1aa;
    --base08: #524B46;
    --base09: #524B46;
    --base0a: #6F665B;
    --base0b: #655B53;
    --base0c: #887768;
    --base0d: #776E61;
    --base0e: #AA5B2B;
    --base0f: #887768;
}