/* Base16 Spacemacs
 * Scheme author: Nasser Alshammari (https://github.com/nashamri/spacemacs-theme)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #1f2022;
    --base01: #282828;
    --base02: #444155;
    --base03: #585858;
    --base04: #b8b8b8;
    --base05: #a3a3a3;
    --base06: #e8e8e8;
    --base07: #f8f8f8;
    --base08: #f2241f;
    --base09: #ffa500;
    --base0a: #b1951d;
    --base0b: #67b11d;
    --base0c: #2d9574;
    --base0d: #4f97d7;
    --base0e: #a31db1;
    --base0f: #b03060;
}