/* Base16 Gruber
 * Scheme author: Patel, Nimai &lt;nimai.m.patel@gmail.com&gt;, colors from www.github.com/rexim/gruber-darker-theme
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #181818;
    --base01: #453d41;
    --base02: #665c7f;
    --base03: #9dae93;
    --base04: #e4e4ef;
    --base05: #f4f4ff;
    --base06: #f5f5f5;
    --base07: #e4e4ef;
    --base08: #f43841;
    --base09: #c73c3f;
    --base0a: #ffdd33;
    --base0b: #73c936;
    --base0c: #95a99f;
    --base0d: #96a6c8;
    --base0e: #9e95c7;
    --base0f: #cc8c3c;
}