/* Base16 PaperColor Light
 * Scheme author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #eeeeee;
    --base01: #af0000;
    --base02: #008700;
    --base03: #5f8700;
    --base04: #0087af;
    --base05: #444444;
    --base06: #005f87;
    --base07: #878787;
    --base08: #bcbcbc;
    --base09: #d70000;
    --base0a: #d70087;
    --base0b: #8700af;
    --base0c: #d75f00;
    --base0d: #d75f00;
    --base0e: #005faf;
    --base0f: #005f87;
}