/* Base16 pandora
 * Scheme author: Cassandra Fox
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #131213;
    --base01: #2f1823;
    --base02: #472234;
    --base03: #ffbee3;
    --base04: #9b2a46;
    --base05: #f15c99;
    --base06: #81506a;
    --base07: #632227;
    --base08: #b00b69;
    --base09: #ff9153;
    --base0a: #ffcc00;
    --base0b: #9ddf69;
    --base0c: #714ca6;
    --base0d: #008080;
    --base0e: #a24030;
    --base0f: #a24030;
}