/* Base16 Katy
 * Scheme author: George Essig (https://github.com/gessig)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #292d3e;
    --base01: #444267;
    --base02: #5c598b;
    --base03: #676e95;
    --base04: #8796b0;
    --base05: #959dcb;
    --base06: #959dcb;
    --base07: #ffffff;
    --base08: #6e98e1;
    --base09: #f78c6c;
    --base0a: #e0a557;
    --base0b: #78c06e;
    --base0c: #83b7e5;
    --base0d: #82aaff;
    --base0e: #c792ea;
    --base0f: #ff5370;
}