/* Base16 Everforest Dark Hard
 * Scheme author: Oskar Liew (https://github.com/OskarLiew)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #272e33;
    --base01: #2e383c;
    --base02: #414b50;
    --base03: #859289;
    --base04: #9da9a0;
    --base05: #d3c6aa;
    --base06: #e4e1cd;
    --base07: #fdf6e3;
    --base08: #7fbbb3;
    --base09: #d699b6;
    --base0a: #dbbc7f;
    --base0b: #83c092;
    --base0c: #e69875;
    --base0d: #a7c080;
    --base0e: #e67e80;
    --base0f: #4C3743;
}