/* Base16 PhD
 * Scheme author: Hennig Hasemann (http://leetless.de/vim.html)
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #061229;
    --base01: #2a3448;
    --base02: #4d5666;
    --base03: #717885;
    --base04: #9a99a3;
    --base05: #b8bbc2;
    --base06: #dbdde0;
    --base07: #ffffff;
    --base08: #d07346;
    --base09: #f0a000;
    --base0a: #fbd461;
    --base0b: #99bf52;
    --base0c: #72b9bf;
    --base0d: #5299bf;
    --base0e: #9989cc;
    --base0f: #b08060;
}