{% extends "index.twig" %}
{% block content %}
{% if config.tagblog.404 %}{% include config.tagblog.404 ignore missing %}{% else %}
<link rel="stylesheet" href="{{- theme_url -}}/css/404.css">
<article class="fullpage four04">
    <h2>Er<span class=flicker2>ro</span>r</h2>
    <h1 class="four04 skewed">4Ø4</h1>
    <h3>This <span class=flicker4>pag</span>e ca<span class=flicker3>nn</span>ot <span class=flicker4>be foun</span>d</h3>
    <p>Please try some tags or the search box in the <span class="desktop-device">sidebar</span><span class="mobile-device">top menu</span>!</p>
</article>
{% endif %}
{% endblock %}
