{% extends "index.twig" %}
{% block content %}
<article>{% set astring = url_param('q','string') %}
    {% set count = aut_count[astring] %}
    {% if count == 1 %}
        <h4>{{astring}} wrote 1 post</h4>
    {% else %}
        <h4>{{astring}} wrote {{ count }} posts</h4>
    {% endif %}
    {% set paging_url_base = current_page.url ~ '?q=' ~ astring ~ '&' %}
    {% set paging_array = {} %}
    {% for page_id in aut_pages[astring]|slice(1)|split('#') %}
        {% set paging_array = paging_array|merge([pages[page_id]]) %}
    {% endfor %}
</article>{% include 'includes/paging.twig' %}
{% endblock content %}
