{%- if config.tagblog.site_url is defined -%}
{%- set site_url = config.tagblog.site_url -%}{%- else -%}{%- set site_url = config.base_url -%}
{%- endif -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
<!-- Thanks to Lars for helping me improve this file -->
    <title>{{ site_title }}</title>
    <link href="{{ site_url }}{{ current_page.id }}" rel="self"/>
    <subtitle>
        {% if config.tagblog.site_description %}
            {{ config.tagblog.site_description }}
        {% else %}
            Blog feed
        {% endif %}
    </subtitle>
    {# <language>en-us</language> #}
    <updated>{{ "now"|date("Y-m-d\\TH:i:sP") }}</updated>
    <id>{{ site_url }}</id>

    {% set limit = config.tagblog.feed.limit|default('10') %}
    {# it is not easy to break out of a loop in twig: stackoverflow.com/a/29161205 #}
    {% set break = false %}
    {% set count = 0 %}
    {% for page in pages if not break %}
        {% if page.meta.tags and page.meta.date %}
            <entry>
                <title>{{ page.title }}</title>
                <link href="{{ site_url }}{{ page.id }}" rel="alternate"/>
                <updated>{{ page.date_formatted|date("Y-m-d\\TH:i:sP") }}</updated>
                <published>{{ page.date_formatted|date("Y-m-d\\TH:i:sP") }}</published>
                <author><name>{% if page.author %}{{ page.author }}{% else %}{{ site_title }}{% endif %}</name></author>
                {% for tag in page.meta.tags|split(',') %}
                    <category term="{{ tag }}"/>
                {% endfor %}
                <id>{{ site_url }}{{ page.id }}</id>
                {% if config.tagblog.feed.content is defined and config.tagblog.feed.content %}
                    <content><![CDATA[{{ page.id|content }}]]></content>
                {% else %}
                    <summary type="html"><![CDATA[{% if page.description %}{{ page.description }}{% else %}{{ page.id|content|striptags|slice(0, 300) }}...{% endif %}]]></summary>
                {% endif %}
            </entry>
            {% set count = count + 1 %}
            {% if count == limit %}{% set break = true %}{% endif %}
        {% endif %}
    {% endfor %}
</feed>
