{% extends "index.twig" %}
{% block content %}
<article class="fullpage">
    {% if meta.title %}<h1>{{ meta.title|replace({'-':'‑'}) }}</h1>{# the replacement is a non-breaking hyphen #}{% endif %}
    {% if meta.description is not empty %}
        <p class="description">{{ meta.description }}</p>
    {% endif %}
    <aside class="clearfix">
        {% if meta.date is not empty %}
            <span class="date">{{ meta.date_formatted }}
                {% if meta.timeline is not empty %}
                <span class="timeline">
                    {% for date in meta.timeline|split(',') %}
                    - {{ date|date("M d Y") }}
                    {% endfor %}
                </span>
                {% endif %}
            </span>
        {% endif %}
        {% if meta.author is not empty %}
            <span class="author">by <a href="/authors?q={{ meta.author }}">{{ meta.author }}</a></span>
        {% endif %}
        {% if meta.tags is not empty %}
            {% for tag in meta.tags|split(',') %}
                <a class="tag" href="/tags?q={{ tag }}">#{{ tag }}</a>
            {% endfor %}
        {% endif %}
    </aside>
    <div class=content>{{ TableOfContent }}{{ content }}</div>
</article>
{% if config.PicoComments.enabled %}{%- include 'includes/comments.twig' -%}{% endif %}
{% endblock %}
